.sign-auth {
  width: 100%;
  min-width: 1920px;
  height: 100%;
}
.sign-auth-container {
  width: 1378px;
  height: calc(100% - 100px);
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-list {
  display: flex;
  flex-direction: row;

  padding-top: 161px;
}
.auth-item {
  width: 298px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;
  padding: none;
  background: none;
}
.auth-item h1 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

  color: #bdbdbd;
}
.auth-item h1.auth-select {
  color: #222222;
}
.auth-item span {
  display: block;
  width: 298px;
  height: 6px;

  background: #f2f2f2;
  border-radius: 0px 2px 2px 0px;

  margin-top: 16px;
}
.auth-item span.auth-select {
  background: #222222;
}
.auth-content {
  padding-top: 42px;
  width: 596px;

  text-align-last: left;
}
.email-title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #222222;

  padding-bottom: 16px;
}
.email-input-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  padding-bottom: 28px;
}
.email-input-container:last-child {
  padding-bottom: 0;
}

.email-input-email {
  width: 230px;
  height: 56px;

  background: #ffffff;

  border: 1px solid #cccccc;
  box-sizing: border-box;

  padding-left: 20px;

  outline: none;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  border-radius: 0;
  color: #222222;
}
.email-input-email:focus {
  border: 1px solid #222222;
}
select::-ms-expand {
  display: none;
}
.email-input-email ~ .email {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.email-input-email ~ .email {
  background: url('../../assets/arrow_down.png') calc(100% - 20px) center
    no-repeat;
  background-size: 16px 9px;
}
.email-input-container span {
  display: block;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #222222;

  padding: 0 8px;
}
.email-input-container button {
  width: 115px;
  height: 56px;

  background: #e0e0e0;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #222222;

  text-align: center;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: none;

  margin-left: 16px;
}
.email-input-container button:active {
  background: #2f80ed;
  color: #ffffff;
}
.email-input-num {
  width: 490px;
  height: 56px;

  background: #ffffff;
  /* Black */

  border: 1px solid #cccccc;

  box-sizing: border-box;

  padding-left: 20px;
  outline: none;
  border-radius: 0;
}
.email-input-num:focus {
  border: 1px solid #222222;
}
.auth-next {
  padding-top: 140px;

  display: flex;
  flex-direction: row;
}
.auth-next button {
  width: 290px;
  height: 80px;
  left: 658px;
  top: 730px;

  border: 1px solid #000000;

  margin-right: 16px;

  background: #ffffff;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #222222;
}
.auth-next button.auth-next-button {
  margin-right: 0;
  background: #000000;
  color: #ffffff;
}
@media (max-width: 380px) {
  .sign-auth {
    min-width: 360px;
  }
  .sign-auth-container {
    width: 360px;
    height: calc(100% - 63px);
    border: none;
  }
  .auth-list {
    padding-top: 23px;
  }
  .auth-item {
    width: 160px;
  }
  .auth-item h1 {
    font-size: 16px;
    line-height: 23px;
  }
  .auth-item span {
    width: 160px;
    height: 4px;
    border-radius: 0;
    margin-top: 12px;
  }
  .auth-content {
    padding-top: 28px;
    width: 320px;
  }
  .email-title {
    font-size: 16px;
    line-height: 22px;

    padding-bottom: 16px;
  }
  .email-input-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    padding-bottom: 12px;
  }
  .email-input-email {
    width: 105px;
    height: 42px;

    padding-left: 12px;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }
  .email-input-email ~ .email {
    width: 113px;
    background: url('../../assets/arrow_down.png') calc(100% - 10px) center
      no-repeat;
    background-size: 10px 5.89px;
  }
  .email-input-container span {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    padding: 0 3px;
  }
  .email-input-container button {
    width: 79px;
    height: 42px;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    margin-left: 4px;
  }
  .email-input-num {
    width: 236px;
    height: 42px;

    padding-left: 12px;
    outline: none;
  }
  .auth-next {
    padding-top: 205px;
  }
  .auth-next button {
    width: 155px;
    height: 54px;
    margin-right: 9px;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}
