.cert {
  width: 100%;
  min-height: 100%;
  min-width: 1920rem;
  height: 100%;
}
.cert-container {
  width: 1378rem;
  height: calc(100% - 100rem - 455rem);
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}
.cert-content {
  margin-top: 69rem;
  box-sizing: border-box;

  width: 596rem;
  height: 578rem;

  border: 1rem solid #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.cert-content h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32rem;
  line-height: 38rem;
  color: #000000;

  padding-top: 36rem;
  padding-bottom: 34rem;
}
.cert-content p {
  margin-left: 44rem;
  margin-right: 31rem;
  margin-bottom: 38rem;
  overflow: auto;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 27rem;

  color: #222222;
}
.cert-button {
  margin-top: 33rem;
  margin-bottom: 34rem;
  width: 596rem;
  height: 80rem;

  background: #2f80ed;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 35rem;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  border: none;
}
