.header-small {
  width: 100%;
  min-width: 1920rem;
  height: 100rem;
  background: #fbfbfb;

  border-bottom: 1rem solid #e0e0e0;
}
.header-small-container {
  display: flex;
  flex-direction: row;
  width: 1378rem;

  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.header-small-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 49rem;
  box-sizing: border-box;
}
.header-small-list li {
  padding-right: 80rem;
}
.header-small-list li:last-child {
  margin-right: 0;
}

.header-small-list li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32rem;
  line-height: 38rem;

  color: #828282;
}
.header-small-list li a:active,
.header-small-list li a.active,
.header-small-list li a:hover {
  font-weight: 700;
  color: #2f80ed;
}
li.header-small--detail a {
  font-size: 24rem;
  line-height: 28rem;
}
