.banner-slide {
  width: 100%;
  height: 928px;
  position: relative;
  z-index: 0;
  /* padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 320px; */
}
.banner-slide-container {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  top: -135px;
}
.banner-slide .section-header h2 {
  font-size: 36px;
  line-height: 42px;
}
.banner-slide .section-header {
  padding-top: 100px;
  background: none;
  border: none;
}
.banner-slide .section-header .left-line,
.banner-slide .section-header .right-line {
  border: none;
  justify-content: flex-start;
}
.banner-slider {
  padding-left: 320px;
  overflow: hidden;
  height: 100%;
  padding-top: 135px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
}

.banner__slider {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 593px;
  margin-top: 48px;
}
.banner-slider .slick-list {
  height: 593px !important;
}

.slider__list {
  position: absolute;
  height: 593px;
  width: 1600px;
}
.slider__item {
  display: block;
  margin-right: 30px;
  height: 593px;
  width: 100%;
}
.slider__item img {
  height: 475px;
}
.slider__item h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  max-width: fit-content;
  display: block;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.item-author {
  width: inherit;
  text-align-last: left;
  padding-top: 40px;

  color: #000000;
}
.item-title {
  min-width: 0;
  text-align-last: left;
  padding-top: 12px;
  color: #bdbdbd;
}

/* 화살표 */
.banner-slider .slick-prev,
.banner-slider .slick-next {
  position: absolute;
  z-index: 2;
  top: 61.5px;
  left: 1476px;
  display: block;

  width: 52px;
  height: 52px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.banner-slider .slick-prev:before,
.banner-slider .slick-next:before {
  content: "";
  background: url("../../assets/slider_prev.png") no-repeat;
  background-size: 52px 52px;
  width: 52px;
  height: 52px;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.banner-slider .slick-next:before {
  background: url("../../assets/slider_next.png") no-repeat;
  background-size: 52px 52px;
}

.banner-slide .slick-next {
  left: calc(1476px + 72px);
}

@media (max-width: 380px) {
  .banner-slide {
    width: 360px;
    height: 357px;
  }
  .banner-slide-container {
    max-width: 360px;
    top: -43px;
  }
  .banner-slider .slick-list {
    height: 231px !important;
  }

  .banner-slide .section-header h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .banner-slide .section-header {
    padding-top: 28px;
  }
  .banner-slider {
    padding-left: 20px;
    padding-top: 63px;
    padding-bottom: 35px;
    z-index: 2;
  }
  .banner__slider {
    height: 231px;
    margin-top: 20px;
  }
  .slider__list {
    position: absolute;
    height: 231px;
    width: 340px;
  }
  .slider__item {
    margin-right: 11px;
    height: 231px;
  }
  .slider__item img {
    height: 183px;
  }

  .slider__item h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .item-author {
    padding-top: 12px;
  }
  .item-title {
    padding-top: 4px;
  }

  /* 화살표 */
  .banner-slider .slick-prev,
  .banner-slider .slick-next {
    /* top: 61.5px;
    left: 1476px; */
    top: 30.5px;
    left: 296px;
    width: 20px;
    height: 20px;
  }

  .banner-slider .slick-prev:before,
  .banner-slider .slick-next:before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  .banner-slider .slick-next:before {
    background-size: 20px 20px;
  }

  .banner-slide .slick-next {
    left: calc(296px + 24px);
  }
}
