.new {
  width: 100%;
  min-width: 1920rem;
}
.new .section-header {
  background: #fbfbfb;
  height: 135rem;
}
.new .section-header-container {
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  align-items: flex-start;
}
.new .section-header-container h3 {
  width: 210rem;
  height: 100%;
  font-size: 48rem;
  line-height: 56rem;
  box-sizing: border-box;
  border-right: 1rem solid #bdbdbd;
}
.new-container {
  width: 960rem;
  height: 1195rem;
  border-left: 1rem solid #bdbdbd;
  border-right: 1rem solid #bdbdbd;
  box-sizing: border-box;
}
.new-slide {
  width: 960rem;
}
.new-slider__list {
  width: 100%;
  height: 100%;
}
.new-slider__item {
  /* height: 1330rem; */
  width: 960rem;
  display: flex;
  flex-direction: column;
}
.new-slider__item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  padding-top: 60rem;
  padding-right: 24rem;
}
.new-slider__item-info > h4 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36rem;
  line-height: 49rem;

  color: #333333;
}
.new-slider__item-info > h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36rem;
  line-height: 42rem;

  color: #000000;
  padding-left: 28rem;
}
.new-slider__item-container {
  display: block;
  height: 1195rem;
  overflow: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-slider__item-container img {
  width: 960rem;
  height: 651rem;
  object-fit: contain;
  margin-left: -1rem;
}
/* 화살표 */
.new-slide .slick-prev,
.new-slide .slick-next {
  position: absolute;
  z-index: 2;

  top: 571rem;

  display: block;

  width: 52rem;
  height: 52rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.new-slide .slick-prev:before,
.new-slide .slick-next:before {
  content: '';
  background: url('../../../assets/slider_prev.png') no-repeat;
  background-size: 52rem 52rem;
  width: 52rem;
  height: 52rem;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.new-slide .slick-next:before {
  background: url('../../../assets/slider_next.png') no-repeat;
  background-size: 52rem 52rem;
}

.new-slide .slick-prev {
  left: -160rem;
}
.new-slide .slick-next {
  right: -160rem;
}
