.payment {
  min-width: 1920rem;
}
.payment .work-header,
.payment .section-header {
  background: #fbfbfb;
}
.payment-item {
  width: 1368rem;
  padding: 70rem 320rem;
  display: flex;
  flex-direction: row;
}
.payment-item img {
  width: 157rem;
  height: 167rem;
  object-fit: contain;
  background: #f2f2f2;
}
.payment-item-info {
  padding: 42rem 0;
  padding-left: 93rem;
  display: flex;
  flex-direction: row;
}
.payment-item-info li {
  padding-right: 70rem;
}
.payment-item-info li:last-child {
  padding-right: 0;
}
.payment-item-info li span {
  display: block;
  text-align: center;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #4f4f4f;
}

.payment-item-info li span:last-child {
  font-weight: 700;

  color: #222222;
  padding-top: 24rem;
}
.payment-checkout {
  border-bottom: 1rem solid #e0e0e0;
}
.checkout-location {
  padding: 0 320rem;
  padding-top: 61rem;
  padding-bottom: 80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkout-location li {
  width: 596rem;
  padding-bottom: 46rem;
}
.checkout-location li:last-child {
  padding-bottom: 0;
}
.checkout-location li span {
  display: block;
  /* width: 100%; */
  text-align: left;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 35rem;

  color: #222222;

  padding-bottom: 20rem;
}
.checkout-input {
  width: 596rem;
  height: 72rem;

  background: #ffffff;
  border: 1rem solid #cccccc;
  border-radius: 2rem;

  outline: none;
  box-sizing: border-box;

  font-weight: 500;
  font-size: 24rem;
  line-height: 35rem;

  padding-left: 20rem;
}
.checkout-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 74rem;
  margin-bottom: 40rem;
}
.checkout-button button {
  width: 648rem;
  height: 102rem;

  background: #000000;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 35rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}
.payment-complete-container {
  border-top: 1rem solid #e0e0e0;
  border-bottom: 1rem solid #e0e0e0;
}
.payment-complete {
  padding: 0 320rem;
  padding-top: 109rem;
  padding-bottom: 153rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.payment-complete h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 42rem;
  line-height: 49rem;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  padding-bottom: 47rem;
}
.payment-complete a {
  width: 648rem;
  height: 102rem;
  background: #000000;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 35rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}
.checkout-location__checkbox {
  display: flex;
  flex-direction: row;
  padding-top: 20rem;
}
input[type='checkbox'] {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
}
.check-option {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 35rem;

  color: #333333;

  margin-right: 97rem;
}
.check-option__check {
  display: inline-block;
  width: 24rem;
  height: 24rem;
  background: url('../../../assets/pay-check.png') no-repeat center;
  background-size: contain;

  margin-right: 12rem;
}
input[type='checkbox']:checked + .check-option__check {
  background: url('../../../assets/pay-check-active.png') no-repeat center;
  background-size: contain;
}
