.mypage-general {
  height: 100%;
}
.g-like-slider {
  height: calc(100% - 347px - 455px); /* header,footer 빼고 */
  border-bottom: 1px solid #e0e0e0;
}
.g-like-slider .drop-container {
  display: none;
}
.g-like-slider .slider__item {
  padding-bottom: 70px;
  position: relative;
}
.g-like-slider .slider__item .like {
  position: absolute;
  top: 25.25px;
  left: 340.28px;
  width: 36px;
  height: 32px;
  background: url('../../../assets/heart-active-icon.png') no-repeat center;
  background-size: 35.44px 31.5px;
  border: none;
}
.g-like-slider .slider__item img {
  width: 398px;
  margin-left: 2px;

  height: 430px;

  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  object-fit: contain;
}
.g-like-slider .slider__item h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;

  padding-top: 20px;
  margin-left: 1px;
}
.g-like-slider .slider__item h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Gray 4 */

  color: #bdbdbd;

  padding-top: 12px;
  margin-left: 1px;
}
.g-like-slider .art-d-header-container {
  height: 160px;
  align-items: initial;
}
.g-like-slider .art-d-header__info {
  padding-top: 70px;
}
.g-like-slider .art-d .art-d-slider {
  height: 1924px;
}
.g-like-slider.art-d .art-d-slider__list {
  height: 1924px;
}
.g-like-slider .art-d .art-d-slider .slick-dots {
  top: calc(1813px - 20px);
}
.g-like-slider .art-d .art-d-slider__list .slick-first,
.g-like-slider .art-d .art-d-slider__list .slick-last,
.g-like-slider .art-d .art-d-slider__list .slick-prev,
.g-like-slider .art-d .art-d-slider__list .slick-next {
  top: 1813px;
}
