.mypage-general {
  height: 100%;
}
.g-like-slider {
  height: calc(100% - 347rem - 455rem); /* header,footer 빼고 */
  border-bottom: 1rem solid #e0e0e0;
}
.g-like-slider .drop-container {
  display: none;
}
.g-like-slider .slider__item {
  padding-bottom: 70rem;
  position: relative;
}
.g-like-slider .slider__item .like {
  position: absolute;
  top: 25.25rem;
  left: 340.28rem;
  width: 36rem;
  height: 32rem;
  background: url('../../../assets/heart-active-icon.png') no-repeat center;
  background-size: 35.44rem 31.5rem;
  border: none;
}
.g-like-slider .slider__item img {
  width: 398rem;
  margin-left: 2rem;

  height: 430rem;

  border: 1rem solid #f2f2f2;
  box-sizing: border-box;
  object-fit: contain;
}
.g-like-slider .slider__item h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;

  padding-top: 20rem;
  margin-left: 1rem;
}
.g-like-slider .slider__item h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Gray 4 */

  color: #bdbdbd;

  padding-top: 12rem;
  margin-left: 1rem;
}
.g-like-slider .art-d-header-container {
  height: 160rem;
  align-items: initial;
}
.g-like-slider .art-d-header__info {
  padding-top: 70rem;
}
.g-like-slider .art-d .art-d-slider {
  height: 1924rem;
}
.g-like-slider.art-d .art-d-slider__list {
  height: 1924rem;
}
.g-like-slider .art-d .art-d-slider .slick-dots {
  top: calc(1813rem - 20rem);
}
.g-like-slider .art-d .art-d-slider__list .slick-first,
.g-like-slider .art-d .art-d-slider__list .slick-last,
.g-like-slider .art-d .art-d-slider__list .slick-prev,
.g-like-slider .art-d .art-d-slider__list .slick-next {
  top: 1813rem;
}
