.admin-auction-item {
  padding-left: 86px;
  padding-right: 124px;
  width: calc(1670px - 86px - 124px);
}
.admin-auction-item--content {
  margin-top: 51px;
  box-sizing: border-box;

  width: 1460px;
  height: 837px;

  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.admin-auction-item--content > ul {
  padding: 40px;
  padding-right: 61px;
  box-sizing: border-box;
}
.admin-auction-item--content > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.admin-auction-item--content > ul > li > h2 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #333333;
  width: 89px;
}
.admin-auction-item--content > ul > li > input {
  box-sizing: border-box;

  padding: 12px 0 12px 20px;
  gap: 10px;

  width: 1280px;
  height: 47px;

  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #000000;
}
.admin-auction-item--content > ul > li > input.input-radio {
  width: 22px;
}
.admin-auction-item--content > ul > li > .input-radio:checked,
.admin-auction-item--content > ul > li > .input-radio:active {
  accent-color: #000000;
}
.admin-auction-item--content > ul > li > span {
  display: block;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 33px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.admin-auction-item--content .image-layer {
  position: relative;
}
.admin-auction-item--content .edit-image > input {
  display: none;
}
.admin-auction-item--content .edit-image > label {
  width: 92px;
  height: 43px;

  background: #2f80ed;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.admin-auction-item--content .img-preview {
  width: 241px;
  height: 241px;

  border: 1px solid #bdbdbd;
  margin-left: 89px;
  box-sizing: border-box;
  object-fit: contain;
}
.admin-auction-item--content .edit-photo {
  top: 10px;
  left: 298px;
  width: 24px;
  height: 24px;
  position: absolute;
}
