.admin-manage {
  width: 1417rem;
  padding: 0 126rem;
  margin: 0;
}
.admin-manage .container {
  margin: 0;
}
.ad-manage-section-01 {
  padding-top: 40rem;
}
.ad-manage-section-01--header {
  display: block;
  width: 100%;
  height: 40rem;

  border-radius: 8rem;
  background: #2b2e3f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ad-manage-section-01--header > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14rem;
  line-height: 16rem;

  color: #ffffff;

  padding-left: 28rem;
}
.ad-m-section-01-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12rem;
}
.ad-m-s-01-content-item {
  width: 459rem;
  height: 234rem;

  background: #ffffff;
  box-shadow: 4rem 4rem 10rem rgba(0, 0, 0, 0.15);
  border-radius: 8rem;
  box-sizing: border-box;
  padding: 0 24rem;
  padding-top: 30rem;
  padding-bottom: 24rem;
}
.m-basic-info {
  text-align: center;
  border-bottom: 1rem solid #f2f2f2;
}
.m-basic-info > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 19rem;

  color: #222222;

  padding-bottom: 8rem;
}
.m-basic-info > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 28rem;

  color: #2f80ed;

  padding-bottom: 24rem;
}
.m-more-info {
  padding-top: 20rem;
  font-family: 'Roboto';
  font-style: normal;

  font-size: 16rem;
  line-height: 19rem;

  color: #222222;
}
.m-more-info h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12rem;
}
.m-more-info h3:last-child {
  padding-bottom: 0;
}
.m-more-info h3 span:first-child {
  font-weight: 500;
}
.m-more-info h3 span:last-child {
  font-weight: 700;
}
.ad-manage-section-03 {
  padding-top: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ad-m-s-03-content {
  width: 698rem;
}
.ad-manage-section-01--header > .move-to {
  display: block;
  width: 8.95rem;
  height: 15.64rem;
  background: url('../../../assets/arrow_right.png') no-repeat center;
  background-size: 8.95rem 15.64rem;

  margin-right: 25.25rem;
}
.ad-m-s-03-item {
  margin-top: 12rem;
  padding: 0 28rem;
  padding-top: 21rem;
  padding-bottom: 24rem;

  width: 698rem;
  height: 204rem;

  background: #ffffff;
  box-shadow: 4rem 4rem 10rem rgba(0, 0, 0, 0.15);
  border-radius: 8rem;
  box-sizing: border-box;
}
.ad-m-s-03-item h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: 'Roboto';
  font-style: normal;

  font-size: 16rem;
  line-height: 19rem;

  padding-bottom: 16rem;
}
.ad-m-s-03-item h3:last-child {
  padding-bottom: 0;
}
.ad-m-s-03-item h3 span:first-child {
  font-weight: 500;
  color: #222222;
}
.ad-m-s-03-item h3 span:last-child {
  font-weight: 400;
  color: #828282;
}
