.admin-edit {
  width: 1336px;

  padding-left: 124px;
  padding-right: 210px;
}

.admin-edit-content-layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 90px;
  padding-bottom: 111px;
}
.admin-edit-content {
  width: 50%;
}
.admin-edit-content-02 > .admin-edit-item {
  justify-content: flex-end;
}
.admin-edit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  margin-bottom: 28px;
}
.admin-edit-item h3 {
  display: block;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #333333;
  width: 118px;
  height: inherit;
}
.admin-edit-item input {
  box-sizing: border-box;

  width: 516px;
  height: 42px;

  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding-left: 20px;
}
.admin-edit-item > .has-2-input {
  width: 516px;
}
.has-2-input > h3 {
  align-self: flex-start;
  padding-top: 9px;
}
.admin-edit-item > .has-2-input > input:first-child {
  margin-bottom: 28px;
}
.admin-edit-input-ps {
  width: 72px !important;
  margin-right: 8px;
}
.admin-edit-input-p {
  width: 160px !important;
}
.admin-edit-item > span {
  display: block;
  padding: 0 9px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  color: #000000;
}
.admin-edit-content-02 input {
  width: 424px;
}
.admin-edit-input-e {
  width: 198px !important;
}
.email-item > span {
  padding: 0 6px;
}
.admin-edit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.admin-edit-button > button {
  width: 117px;
  height: 59px;
  border-radius: 8px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  background: #2f80ed;
  color: #ffffff;
  margin-left: 12px;
}
.admin-edit-button > button:first-child {
  background: none;
  border: 1px solid #2f80ed;
  color: #2f80ed;
  margin-left: 0;
}
