.admin-term {
  width: 100%;
}
.admin-term > .container {
  padding: 0 127px;
  padding-top: 32px;
  box-sizing: border-box;

  margin: 0;
}
.admin-term-content,
.admin-term-content02 {
  width: 1416px;
}
.admin-term-c-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.admin-term-c-header > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #222222;
}
.admin-term-c-header > button {
  width: 110px;
  height: 46px;

  background: #2f80ed;
  border-radius: 8px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}
.admin-term-c-item {
  display: block;
  width: 100%;
  height: 298px;
  padding: 24px 35px;
  box-sizing: border-box;

  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;

  color: #000000;

  margin-bottom: 17px;
}
.admin-term-c-item > p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.admin-term-content02 {
  display: flex;
  flex-direction: column;
}
.admin-term-content02 label {
  width: 110px;
  height: 46px;

  background: #2f80ed;
  border-radius: 8px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}
.admin-term-c02-item {
  width: 100%;
  height: 96px;

  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  box-sizing: border-box;
  padding: 24px 35px;
}
#attachFile {
  display: flex;
  flex-direction: row;
}
#attachFile .file-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 48px;

  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;

  border: 1px solid #bdbdbd;
  border-radius: 52px;
  margin-right: 10px;
}

#attachFile .file-preview > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #222222;
}
#attachFile .file-preview > button {
  display: block;
  width: 14px;
  height: 14px;
  background: url('../../../assets/icon-x-black.png') no-repeat center;
  background-size: contain;
}
