.artdb-venue .page-slider {
  height: 1287rem;
  padding-top: 50rem;
}
.artdb-venue .page-slider__list {
  height: 1287rem;
}
.artdb-venue .page-slider__item {
  width: 372rem !important;
  padding-bottom: 36rem;
  margin-right: 82rem;
}
.artdb-venue .page-slider__item:nth-child(3n) {
  margin-right: 0;
}
.artdb-venue .page-slider-item-row {
  display: flex;
  flex-direction: row;
}
.artdb-venue .page-item-image {
  width: 118rem;
  height: 118rem;
  object-fit: cover;
  margin-bottom: 0;
  margin-right: 20rem;
}
.artdb-venue .page-item-author {
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 8rem;
}

.artdb-venue .page-item-email {
  width: 100%;

  color: #bdbdbd;

  padding-top: 0;
  padding-bottom: 20rem;
}
.artdb-venue .page-slider .slick-dots {
  top: calc(1180rem - 20rem);
}
/* 화살표 */
.artdb-venue .page-slider__list .slick-first,
.artdb-venue .page-slider__list .slick-last,
.artdb-venue .page-slider__list .slick-prev,
.artdb-venue .page-slider__list .slick-next {
  top: 1180rem;
  left: 458rem;
}

.artdb-venue .page-slider__list .slick-next {
  left: calc(458rem + 328rem);
}
.artdb-venue .page-slider__list .slick-first {
  left: calc(458rem + 320rem - 40rem);
}
.artdb-venue .page-slider__list .slick-last {
  left: calc(458rem + 320rem + 328rem + 40rem);
}
