.venue-detail {
  border-bottom: 1px solid #e0e0e0;
}
.venue-detail .work-header {
  background: #fbfbfb;
}
.venue-detail .work-header-d {
  height: 183px;
}
.venue-detail .work-header-d .work-header__container {
  height: 102px;
}
.venue-detail .art-detail-container {
  padding-top: 70px;
}
.venue-detail .art-detail__image {
  width: 494px;
  height: 382px;
  object-fit: cover;
}
.venue-detail .art-detail__list {
  width: calc(100% - 240px);
}
.venue-detail .art-detail__profile {
  display: none;
}
.venue-detail .side-arrow-slider__list {
  display: none;
}
.venue-detail-info {
  border-bottom: 1px solid #e0e0e0;
}
.venue-detail-info ul {
  padding: 0 320px;
  padding-top: 59px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
}
.venue-d-item {
  padding-right: 40px;
}
.venue-d-item:last-child {
  padding-right: 0;
}
.venue-d-item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.venue-d-item h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;

  color: #000000;

  padding-top: 24px;
}
.venue-d-item p {
  width: 400px;
  height: 132px;
  margin-top: 20px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #333333;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.venue-d-page-slide {
  width: 1378px;
  box-sizing: border-box;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.venue-detail .page-slider {
  height: 2052px;
}
.venue-detail .page-slider__list {
  padding: 0 49px;
}
.venue-detail .page-slider__item {
  width: 400px !important;
  padding-bottom: 78px;
  margin-right: 40px;
}
.venue-detail .page-slider__item:nth-child(3) {
  margin-right: 0;
}
.venue-detail .page-item-image {
  width: 400px;
  height: 430px;
  object-fit: contain;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  margin-bottom: 38px;
}
.venue-detail .page-item-author {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;

  border-bottom: none;
  padding-bottom: 12px;
}
.venue-detail .page-item-email {
  font-size: 28px;
  line-height: 33px;
  color: #bdbdbd;

  padding-top: 0;
  padding-bottom: 0;
}
.venue-detail .page-item-button {
  display: none;
}
.venue-detail .page-slider .slick-dots {
  top: calc(1945px - 20px);
}
.venue-detail .page-slider__list .slick-first,
.venue-detail .page-slider__list .slick-last,
.venue-detail .page-slider__list .slick-prev,
.venue-detail .page-slider__list .slick-next {
  top: 1945px;
  left: 472px;
}
.venue-detail .page-slider__list .slick-next {
  left: calc(472px + 296px);
}
.venue-detail .page-slider__list .slick-first {
  left: calc(472px + 9px);
}
.venue-detail .page-slider__list .slick-last {
  left: calc(472px + 296px + 89px);
}
