.display-history__list {
  padding: 56rem 0;
  min-width: 1920rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-history__list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-history__list li {
  width: 1378rem;

  padding-left: 56rem;
  padding-bottom: 46rem;
  box-sizing: border-box;
  align-self: flex-start;
}
.display-history__list li:last-child {
  padding-bottom: 0;
}
.display-history__list li span {
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 28rem;
  line-height: 38rem;
}
.display-history__item-period {
  font-weight: 500;
  margin-right: 28rem;
  color: #828282;
}
.display-history__item-title {
  font-weight: 400;
  color: #333333;
}
.display-history__item-category {
  display: inline-block;
  width: 150rem;
  font-weight: 700;
  color: #222222;
}

.display-history__more {
  width: 346rem;
  height: 84rem;
  border: none;
  background: none;

  margin-top: 22rem;
  margin-bottom: 24rem;

  border: 1rem solid #333333;
}
.display-history__more p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 33rem;

  color: #4f4f4f;
}

.more-arrow {
  display: block;

  background: url(../../assets/arrow-more.png) no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 12rem;
  width: 12rem;
  height: 23rem;
  padding-left: 12rem;
  margin-left: 16rem;
}
@media (max-width: 480px) {
  .display-history__list {
    padding: 16rem 0;
    min-width: 360rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display-history__list > .container {
    width: 360rem;
  }

  .display-history__list li {
    padding-left: 20rem;
    padding-bottom: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .display-history__list li:last-child {
    padding-bottom: 0;
  }
  .display-history__list li span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 12rem;
    line-height: 16rem;
  }
  .display-history__item-period {
    display: inline-block;
    width: calc(100% - 60rem);
    font-weight: 500;
    margin-right: 0;
    color: #828282;
  }
  .display-history__item-title {
    display: inline-block;
    width: 100%;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    padding-top: 10rem;
    font-weight: 400;
    color: #333333;
  }
  .display-history__item-category {
    display: inline-block;
    width: 60rem;
    font-weight: 700;
    color: #222222;
    order: -1;
  }
  .display-history__more {
    width: 95rem;
    height: 32rem;
    border: none;
    background: none;

    margin-top: 8rem;
    margin-bottom: 32rem;

    border: 1rem solid #333333;
  }
  .display-history__more p {
    font-size: 12rem;
    line-height: 16rem;
  }

  .more-arrow {
    display: block;

    background: url(../../assets/arrow-more.png) no-repeat;
    background-position: center center;
    background-size: 9rem 4rem;
    width: 9rem;
    height: 4rem;
    padding-left: 4rem;
    margin-left: 4rem;
  }
}
