.mypage-artist {
  height: 100%;
}
.table-header-title {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.table-header-title a {
  width: 240rem;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
/* 선택되지 않은 경우 */
.th-title-select-active h1 {
  color: #000000;
}
.th-title-select-active span {
  background: #000000;
}
.th-title-select h1 {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 28rem;
  line-height: 33rem;

  color: #bdbdbd;

  padding-top: 61rem;
  padding-bottom: 14rem;
}
.th-title-select span {
  display: block;
  background: #f2f2f2;

  border-radius: 0rem;
  width: 240rem;
  height: 6rem;
}
