.market-nft-info {
  padding: 100rem 320rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.market-nft__image {
  box-sizing: border-box;
  width: 608rem;
  height: 667rem;

  border: 1rem solid #e0e0e0;

  object-fit: contain;
}
.market-nft__info {
  width: 620rem;
}
.market-nft__title {
  padding-top: 284rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 42rem;
  line-height: 49rem;
  color: #222222;

  padding-bottom: 28rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.market-nft__title button {
  width: 47.5rem;
  height: 43.58rem;
  background: none;
  background: url('../../../../assets/heart-icon.png') center no-repeat;
  background-size: contain;

  border: none;

  cursor: pointer;
}
.market-nft__title button:hover,
.market-nft__title button:active {
  background: url('../../../../assets/heart-active-icon.png') center no-repeat;
  background-size: contain;
}
.market-nft__price {
  border-top: 1rem solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.market-nft__price span.price-title {
  display: block;
  padding-top: 24rem;
  padding-bottom: 19rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;
  color: #333333;
}
.market-nft__price span.price {
  display: block;
  padding-top: 24rem;
  padding-bottom: 19rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;

  color: #2f80ed;
}
.market-nft__info span.price-usd {
  display: block;
  width: 100%;
  text-align: right;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;

  color: #000000;

  padding-bottom: 24rem;
}
.market-nft__button {
  border-top: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.market-nft__button span {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 29rem;
  padding-bottom: 20rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 23rem;

  color: #eb5757;
}
.market-nft__button button {
  width: 620rem;
  height: 102rem;

  background: #333333;
  border: none;
  border-radius: 2rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  /* White */

  color: #ffffff;
}

.market-nft-header {
  height: 213rem;
  border-bottom: 1rem solid #e0e0e0;
}
.m-nft-header-container {
  height: 100%;
  width: 1378rem;
  box-sizing: border-box;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  padding-top: 44rem;
  padding-left: 51rem;
  padding-bottom: 39rem;

  display: flex;
  flex-direction: row;
}
.m-nft__image {
  width: 130rem;
  height: 130rem;
  object-fit: cover;

  border-radius: 50%;
}
.m-nft__creator {
  padding-left: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.m-nft__creator h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;

  color: #222222;

  padding-bottom: 12rem;
}
.m-nft__creator span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;

  color: #4f4f4f;
}
.m-nft__stock {
  margin-left: 40rem;
  width: 362rem;
  height: 130rem;

  background: #fbfbfb;
  box-sizing: border-box;
  padding: 29rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.m-nft-stock__id {
  display: block;
  width: 100%;
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;

  color: #4f4f4f;

  padding-bottom: 17rem;
}
.m-nft-stock__num {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;
  display: flex;
  align-items: center;

  /* Gray 1 */

  color: #333333;
}
.m-nft-detail {
  padding-bottom: 100rem;
}
.m-nft-detail__list {
  padding-left: 322rem;
  padding-top: 76rem;
}
.m-nft-detail__list li {
  width: 1154rem;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 33rem;

  /* Black */

  color: #222222;

  padding-bottom: 76rem;
}
.m-nft-detail__list li:last-child {
  padding-bottom: 45rem;
}
.m-nft-detail__info {
  margin-left: 326rem;
  width: 1275rem;
  height: 265rem;
  background: #fbfbfb;
  box-sizing: border-box;

  padding: 30rem;
}
.m-nft-detail__info h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;

  color: #333333;

  padding-bottom: 24rem;
}
.m-nft-info__list li {
  display: flex;
  flex-direction: row;
  padding-bottom: 24rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24rem;
  line-height: 28rem;
  display: flex;
  align-items: center;

  /* Gray 1 */

  color: #333333;
}
.m-nft-info__list li:last-child {
  padding-bottom: 0;
}
.m-nft-info__list li span.info-title {
  display: block;
  width: 220rem;
}
.m-nft-info__list li span.info-content {
  font-weight: 500;
  color: #222222;
}
.market-nft-deal-container {
  border-bottom: 1rem solid #e0e0e0;
  min-width: 1920rem;
}
.m-nft-deal {
  border-bottom: 1rem solid #e0e0e0;
  margin-bottom: 132rem;
}
.m-nft-deal-container {
  height: 100%;
  width: 1378rem;
  box-sizing: border-box;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
}
.m-nft-deal__table {
  width: 100%;
}
.m-nft-table__thead,
.m-nft-table__body {
  width: 100%;
  height: 78rem;

  background: #fbfbfb;

  box-sizing: border-box;
  border-bottom: 1rem solid #e0e0e0;

  display: flex;
  flex-direction: row;

  padding-left: 51rem;
  padding-right: 66rem;
}
.m-nft-table__thead span,
.m-nft-table__body span {
  height: 100%;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: left;

  /* Gray 2 */

  color: #4f4f4f;
}
.m-nft-table__body span {
  font-weight: 500;
  font-size: 24rem;
  line-height: 35rem;

  color: #222222;
}
.m-nft-table__body span:first-child,
.m-nft-table__thead span:first-child {
  width: 417rem;
}
.m-nft-table__thead span:last-child,
.m-nft-table__body span:last-child {
  margin-left: auto; /* 오른쪽 끝 */
}
.m-nft-table__body {
  background: none;
}
.m-nft-table__body:last-child {
  border: none;
}
