.market-main {
  min-width: 1920rem;
}
.art-topic {
  box-sizing: border-box;
  /* border-top: 1rem solid #e0e0e0; */
}
.art-topic .container {
  border: none;
}
.market-main .art-topic .work-header {
  height: 126rem;
}
.market-main .art-topic .work-header > .container {
  width: 1378rem;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.market-main .art-topic__hover {
  display: none;
}
.market-main .art-topic-item {
  position: relative;
  height: inherit;
}
.market-main .art-topic--sub .art-topic-item {
  height: 457rem;
}
.market-main .art-topic--sub .art-topic-item:first-child {
  margin-bottom: 40rem;
}
.market-main .art-topic-item:hover .art-topic__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(34, 34, 34, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.market-main .art-topic-item--title {
  padding-top: 12rem;
  font-weight: 400;
}
.market-main .art-topic-item--author {
  padding-top: 12rem;
  font-weight: 700;
}

.market-main .art-topic__hover h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 28rem;
  line-height: 33rem;

  color: #ffffff;
}
.market-main .art-topic-item--price {
  font-family: 'Roboto';
  font-style: normal;
  padding-top: 32rem;
  font-weight: 600;
  font-size: 32rem;
  line-height: 38rem;
  color: #59a0ff;
}

.market-main .big-top-arrow {
  height: 980rem;
}
.market-main .big-top-arrow-slider {
  padding-bottom: 100rem;
}
.market-main .big-top-arrow .slider__item {
  height: inherit;
}
.market-main .big-top-arrow .slider__item h4 {
  padding-bottom: 12rem;
}
.market-item {
  border-top: 1rem solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400rem;
}
.market-item--price {
  padding-top: 20rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32rem;
  line-height: 38rem;
  color: #2f80ed;
  display: block;
}
.market-item--heart {
  height: 29.05rem;
  width: 31.67rem;
  background: url('../../../assets/heart-icon.png') no-repeat;
  background-size: contain;
  margin-top: 20rem;
  border: none;
  cursor: pointer;
}
/* 좋아요 클릭, 오버시 */
.market-item--heart:active,
.market-item--heart:hover {
  background: url('../../../assets/heart-active-icon.png') no-repeat;
  background-size: contain;
}

.market-main .work-header__info {
  display: flex;
  flex-direction: row;
}
.market-main .work-header__info h4 {
  display: block;
  order: 1;
  height: 147rem;
  padding-top: 66rem;
  box-sizing: border-box;
}

.market-main .work-header__info h2 {
  order: 0;
  display: block;
  height: 147rem;
  padding-top: 57rem;
  padding-right: 16rem;
  box-sizing: border-box;
}

.art-tok {
  border-top: 1rem solid #e0e0e0;
  border-bottom: 1rem solid #e0e0e0;
  height: 955rem;
}
.art-tok .container {
  width: 1378rem;
  display: flex;
  flex-direction: row;
}
.art-tok-main {
  width: 999rem;
  height: 628rem;

  margin-top: 80rem;
  margin-right: 40rem;
}
.art-tok-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.art-tok-info {
  position: absolute;
  top: 435rem;
  left: 646rem;
}
.art-tok-info h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32rem;
  line-height: 38rem;

  color: #ffffff;
  padding-bottom: 11rem;
}
.art-tok-info p {
  width: 289rem;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  line-height: 26rem;

  letter-spacing: -0.05em;

  color: #ffffff;
}
.art-tok-info a {
  display: block;
  width: 152rem;
  height: 48rem;

  border: 2rem solid #ffffff;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  color: #ffffff;

  margin-top: 40rem;
}
.art-tok-sub {
  width: 290rem;
  height: 628rem;

  padding-top: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.art-tok-sub img {
  width: 290rem;
  height: 290rem;
  margin: 0;
  padding: 0;
}
.market-main .art-md--content__list {
  padding-bottom: 60rem;
}
.upcoming-auction .art-md--content {
  border-bottom: 0;
}
.upcoming-auction-item {
  width: 620rem;
  height: 328rem;
  position: relative;
  margin-right: 38rem;
  margin-bottom: 40rem;
}

.upcoming-auction-item:nth-child(2n) {
  margin-right: 0;
}
.upcoming-auction-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upcoming-auction-info {
  position: absolute;
  top: 20rem;
  left: 24rem;
}
.upcoming-auction--date {
  display: block;
  width: 353rem;
  height: 49rem;

  background: #000000;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.upcoming-auction--title {
  padding-top: 150rem;
  padding-bottom: 8rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32rem;
  line-height: 38rem;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.upcoming-auction--detail {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 27rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* Gray 6 */

  color: #f2f2f2;
}
.hot-click .work-header {
  border-top: 1rem solid #e0e0e0;
}
.hot-click-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 80rem 320rem 100rem 320rem;
}
.hot-click-main > img {
  width: 620rem;
  height: 620rem;
  background: #f2f2f2;

  object-fit: contain;
}
.hot-click-sub {
  width: 620rem;
  height: 620rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.hot-click-sub > img {
  width: 290rem;
  height: 290rem;
  /* Gray 6 */

  background: #f2f2f2;
  object-fit: contain;
}
.upcoming-auction .work-header {
  height: 126rem;
}
.market-main .work-header__info-big h2 {
  font-size: 36rem;
  line-height: 42rem;
}
@media (max-width: 480px) {
  .market-main {
    min-width: 360rem;
  }
  .art-topic {
    box-sizing: border-box;
    /* border-top: 1rem solid #e0e0e0; */
  }
  .art-topic .container {
    border: none;
  }
  .market-main .art-topic .work-header {
    height: 61rem;
    border-bottom: 1rem solid #f2f2f2;
  }
  .market-main .art-topic .work-header > .container {
    width: 360rem;
    border: none;
    box-sizing: border-box;
  }
  .market-main .art-topic-content {
    padding-top: 20rem;
  }
  .market-main .art-topic__hover {
    display: none;
  }
  .market-main .art-topic-item {
    position: relative;
    height: inherit;
  }
  .market-main .art-topic--sub .art-topic-item {
    height: 114rem;
  }
  .market-main .art-topic--sub .art-topic-item:first-child {
    margin-bottom: 10rem;
  }
  .market-main .art-topic-item:hover .art-topic__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(34, 34, 34, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .market-main .art-topic-item--title {
    padding-top: 6rem;
    font-weight: 400;
  }
  .market-main .art-topic-item--author {
    padding-top: 6rem;
    font-weight: 700;
  }

  .market-main .art-topic__hover h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14rem;
    line-height: 16rem;

    color: #ffffff;
    text-align: center;
  }
  .market-main .art-topic-item--price {
    font-family: 'Roboto';
    font-style: normal;
    padding-top: 6rem;
    font-weight: 600;
    font-size: 16rem;
    line-height: 18rem;
    color: #59a0ff;
  }

  .market-main .big-top-arrow {
    height: 643rem;
  }

  .market-main .big-top-arrow .work-header {
    height: 61rem;
    border-top: 1rem solid #f2f2f2;
    border-bottom: 1rem solid #f2f2f2;
  }
  .market-main .big-top-arrow .work-header__info {
    flex-direction: column;
  }
  .market-main .big-top-arrow .work-header__info h2 {
    padding-top: 0;
    order: 1;
  }
  .market-main .big-top-arrow .work-header__info h4 {
    padding-top: 0;
    height: inherit;
  }
  .market-main .big-top-arrow-container {
    top: -61rem;
  }

  .market-main .big-top-arrow-slider {
    padding-top: 62rem;
    padding-bottom: 12rem;
  }
  .market-main .big-top-arrow .slick-list {
    padding-top: 26rem;
    width: 320rem !important;
    height: 582rem !important;
  }
  .market-main .big-top-arrow .big-top-item {
    display: block;
    width: 150rem !important;
  }
  .market-main .big-top-arrow .slider__item {
    height: inherit;
    margin: 0 10rem;
  }
  .market-main .big-top-arrow .slider__item h3 {
    padding-top: 8rem;
  }
  .market-main .big-top-arrow .slider__item h4 {
    padding-bottom: 4rem;
  }
  .market-main .big-top-arrow .slider__item {
    width: 150rem;
  }

  /* 화살표 */
  .market-main .big-top-arrow .slick-prev,
  .market-main .big-top-arrow .slick-next {
    /* top: 61.5rem;
     left: 1476rem; */
    /* top: 30.5rem;
     left: 296rem; */
    top: 30rem;
    left: 280rem;
  }

  .market-main .big-top-arrow .slick-next {
    left: calc(280rem + 24rem + 12rem);
  }
  .market-item {
    border-top: 1rem solid #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150rem;
    padding-bottom: 24rem;
    margin: 0 10rem;
  }
  .market-item--price {
    padding-top: 8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12rem;
    line-height: 14rem;
    color: #2f80ed;
    display: block;
  }
  .market-item--heart {
    height: 11.67rem;
    width: 10.7rem;
    background: url('../../../assets/heart-icon.png') no-repeat;
    background-size: contain;
    margin-top: 8rem;
    border: none;
    cursor: pointer;
  }
  /* 좋아요 클릭, 오버시 */
  .market-item--heart:active,
  .market-item--heart:hover {
    background: url('../../../assets/heart-active-icon.png') no-repeat;
    background-size: contain;
  }

  .market-main .work-header__info {
    display: flex;
    flex-direction: row;
  }
  .market-main .work-header__info h4 {
    display: block;
    order: 1;
    height: 147rem;
    padding-top: 66rem;
    box-sizing: border-box;
  }

  .market-main .work-header__info h2 {
    order: 0;
    display: block;
    height: 100%;
    padding-top: 57rem;
    padding-right: 16rem;
    box-sizing: border-box;
  }

  .art-tok {
    border: none;
    height: 330rem;
  }
  .art-tok .work-header {
    height: 42rem;
    border-top: 1rem solid #f2f2f2;
    border-bottom: 1rem solid #f2f2f2;
  }
  .art-tok .work-header h2,
  .art-tok .work-header h4 {
    padding: 0;
    height: inherit;
  }
  .art-tok .work-header h4 {
    padding-top: 5rem;
    padding-left: 8rem;
  }
  .art-tok .container {
    width: 360rem;
    display: flex;
    flex-direction: row;
  }
  .art-tok-main {
    width: 232rem;
    height: 248rem;
    margin-top: 20rem;
    margin-right: 8rem;
  }
  .art-tok-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .art-tok-info {
    position: absolute;
    top: 183rem;
    left: 84rem;
  }
  .art-tok-info h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14rem;
    line-height: 16rem;

    color: #ffffff;
    padding-bottom: 15rem;
  }
  .art-tok-info p {
    display: none;
  }
  .art-tok-info a {
    display: block;
    width: 75rem;
    height: 27rem;

    border: 0.792994rem solid #ffffff;

    font-size: 10rem;
    line-height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0;
  }
  .art-tok-sub {
    width: 120rem;
    height: 248rem;

    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .art-tok-sub img {
    width: 120rem;
    height: 120rem;
    margin: 0;
    padding: 0;
    margin-bottom: 8rem;
  }
  .art-tok-sub img:last-child {
    margin-bottom: 0;
  }
  .market-main .art-md--content__list {
    padding-bottom: 60rem;
  }
  .upcoming-auction .art-md--content {
    border-bottom: 0;
  }
  .upcoming-auction-item {
    width: 320rem;
    height: 169.29rem;
    position: relative;
    margin-right: 0;
    margin-bottom: 9rem;
  }
  .upcoming-auction-item:last-child {
    display: none;
  }
  .upcoming-auction-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upcoming-auction-info {
    position: absolute;
    top: 12rem;
    left: 12rem;
  }
  .upcoming-auction--date {
    display: block;
    width: 177rem;
    height: 25rem;

    background: #000000;

    font-size: 10rem;
    line-height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .upcoming-auction--title {
    padding-top: 76rem;
    padding-bottom: 4rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16rem;
    line-height: 19rem;
  }
  .upcoming-auction--detail {
    font-size: 10rem;
    line-height: 14rem;
  }
  .hot-click .work-header {
    height: 46rem;
    border-top: 1rem solid #f2f2f2;
    border-bottom: 1rem solid #f2f2f2;
  }
  .hot-click > .container {
    width: 360rem;
  }
  .hot-click-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 20rem 20rem 56rem 20rem;
  }
  .hot-click-main {
    display: none;
  }

  .hot-click-sub {
    width: 320;
    height: 320rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .hot-click-sub > img {
    width: 156rem;
    height: 156rem;
    /* Gray 6 */

    background: #f2f2f2;
    object-fit: contain;
  }
  .upcoming-auction .work-header {
    height: 43rem;
  }
  .market-main .work-header__info-big h2 {
    font-size: 16rem;
    line-height: 19rem;
  }
}
