.search {
  width: 100%;
  min-width: 1920px;
  height: 147px;
  background: #222222;
}
.search__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 1378px;

  border-left: 1px solid #4f4f4f;
  border-right: 1px solid #4f4f4f;

  padding: 0 49px;
  justify-content: space-between;
  box-sizing: border-box;
}
.search__title {
  display: block;
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}
.search__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 670px;
  background: #f2f2f2;
  border-radius: 8px;
}
.search__block__input {
  height: 62px;
  flex: 1;
  border: none;
  background: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0;
  margin: 0;
  padding-left: 32px;
  box-sizing: border-box;
  background: #ffffff;
  width: 600px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
.search__block__input:focus {
  outline: none;
}
.search__block__input::-webkit-input-placeholder {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #bdbdbd;
}
.search__block__button {
  box-sizing: border-box;
  flex: none; /* 버튼을 끝에 고정*/
  width: 70px;
  height: 62px;
  border: none;
  padding: 0;
  margin: 0;
  background: url(../../assets/ico_search.png) no-repeat 25.39px/25.39px #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media (max-width: 380px) {
  .search {
    display: none;
  }
}
