.work-header {
  width: 100%;
  min-width: 1920rem;
  height: 147rem;
  border-bottom: 1rem solid #e0e0e0;
}
.work-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 49rem;
  height: 100%;
}
.work-header .container {
  width: 1378rem;

  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.work-header__info h4 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 33rem;
  color: #4f4f4f;

  padding-bottom: 12rem;
}
.work-header__info-big h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;

  color: #000000;
  font-size: 42rem;
  line-height: 49rem;
}
.work-header__info h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36rem;
  line-height: 42rem;
  color: #000000;
}

.work-header__move,
.work-header__move a {
  display: flex;
  flex-direction: row;
}
.work-header__move span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;

  color: #333333;

  padding-right: 12rem;

  display: flex;
  align-items: center;
}
.work-header__move .work-header__follow {
  width: 112rem;
  height: 39rem;

  background: #2f80ed;
  /* Blue 1 */

  border: 1rem solid #2f80ed;
  border-radius: 34rem;
  margin-left: 48rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 23rem;

  color: #ffffff;
}
.work-header__move-icon {
  width: 36rem;
  height: 36rem;
  background: url('../../assets/slider_next.png') no-repeat center;
  background-size: contain;
  border: none;
}

/* detail menu */
.work-header-d {
  height: 216rem;
  background: #fbfbfb;
}
.work-header-d .work-header__container {
  height: 135rem;
  border-bottom: 1rem solid #e0e0e0;
}
.work-header-d .work-header__info {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.work-header-d h4 {
  font-size: 24rem;
  order: 1;
  padding-top: 8rem;
  padding-bottom: 0;
}
.work-header-d h2 {
  order: 0;
  padding-right: 16rem;
  font-size: 42rem;
}
.work-header__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 81rem;
  padding-left: 51rem;
}
.work-header__detail button {
  margin: 0;
  padding: 0;
  margin-right: 80rem;
  border: none;
  background: none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 33rem;

  /* Gray 4 */

  color: #bdbdbd;

  cursor: pointer;
}
.work-header__detail li:last-child button {
  margin-right: 0;
}
.work-header__detail button.choice {
  font-weight: 700;
  color: #333333;
}
/*******/
@media (max-width: 480px) {
  .work-header-basic {
    height: 75rem;
    border-bottom: 0.5rem solid #bdbdbd;
  }
  .small-header {
    height: 64rem;
  }
  .work-header__info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header__info-left {
    height: 100%;
    width: 480rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header__info-k {
    font-size: 20rem;
    line-height: 23rem;

    padding-left: 20rem;
  }

  .work-header__info-e {
    font-size: 12rem;
    line-height: 16rem;
    padding-left: 2rem;
    margin-top: 2rem;
  }

  .work-header__more {
    display: none;
  }
  .work-header__more button {
    width: 112rem;
    height: 39rem;

    background: #2f80ed;
    /* Blue 1 */

    border: 1rem solid #2f80ed;
    border-radius: 34rem;
    margin-left: 48rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
    line-height: 23rem;

    color: #ffffff;
  }
  .work-header-detail {
    height: 82rem;
    border-bottom: 1rem solid #bdbdbd;
  }
  .work-header-detail ul {
    padding-left: 320rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header-detail button {
    margin: 0;
    padding: 0;
    margin-right: 80rem;
    border: none;
    background: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24rem;
    line-height: 33rem;

    /* Gray 4 */

    color: #bdbdbd;
  }
  .work-header-detail button.choice {
    font-weight: 700;
    color: #333333;
  }
}
