.work-header {
  width: 100%;
  min-width: 1920px;
  height: 147px;
  border-bottom: 1px solid #e0e0e0;
}
.work-header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 49px;
  height: 100%;
}
.work-header .container {
  width: 1378px;

  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.work-header__info h4 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #4f4f4f;

  padding-bottom: 12px;
}
.work-header__info-big h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;

  color: #000000;
  font-size: 42px;
  line-height: 49px;
}
.work-header__info h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.work-header__move,
.work-header__move a {
  display: flex;
  flex-direction: row;
}
.work-header__move span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #333333;

  padding-right: 12px;

  display: flex;
  align-items: center;
}
.work-header__move .work-header__follow {
  width: 112px;
  height: 39px;

  background: #2f80ed;
  /* Blue 1 */

  border: 1px solid #2f80ed;
  border-radius: 34px;
  margin-left: 48px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}
.work-header__move-icon {
  width: 36px;
  height: 36px;
  background: url('../../assets/arrow_right.png') no-repeat center;
  background-size: contain;
  border: none;
}

/* detail menu */
.work-header-d {
  height: 216px;
  background: #fbfbfb;
}
.work-header-d .work-header__container {
  height: 135px;
  border-bottom: 1px solid #e0e0e0;
}
.work-header-d .work-header__info {
  display: flex;
  flex-direction: row;
}

.work-header-d h4 {
  display: flex;
  order: 1;
  padding-bottom: 0;
  line-height: 49px;
  padding-top: 4px;
}
.work-header-d h2 {
  display: flex;
  order: 0;

  padding-right: 16px;

  font-size: 42px;
  line-height: 49px;
}
.work-header__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 81px;
  padding-left: 49px;
}
.work-header__detail button {
  margin: 0;
  padding: 0;
  margin-right: 80px;
  border: none;
  background: none;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;

  /* Gray 4 */

  color: #bdbdbd;
}
.work-header__detail button.choice {
  font-weight: 700;
  color: #333333;
}
/*******/
@media (max-width: 380px) {
  .work-header-basic {
    height: 75px;
    border-bottom: 0.5px solid #bdbdbd;
  }
  .small-header {
    height: 64px;
  }
  .work-header__info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header__info-left {
    height: 100%;
    width: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header__info-k {
    font-size: 20px;
    line-height: 23px;

    padding-left: 20px;
  }

  .work-header__info-e {
    font-size: 12px;
    line-height: 16px;
    padding-left: 2px;
    margin-top: 2px;
  }

  .work-header__more {
    display: none;
  }
  .work-header__more button {
    width: 112px;
    height: 39px;

    background: #2f80ed;
    /* Blue 1 */

    border: 1px solid #2f80ed;
    border-radius: 34px;
    margin-left: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;
  }
  .work-header-detail {
    height: 82px;
    border-bottom: 1px solid #bdbdbd;
  }
  .work-header-detail ul {
    padding-left: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .work-header-detail button {
    margin: 0;
    padding: 0;
    margin-right: 80px;
    border: none;
    background: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    /* Gray 4 */

    color: #bdbdbd;
  }
  .work-header-detail button.choice {
    font-weight: 700;
    color: #333333;
  }
}
