.ma-work-add {
  height: 100%;
  min-width: 1920rem;
}
.ma-work-add .section-header {
  background: #fbfbfb;
}
.ma-work-add .section-header h3 {
  height: 100rem;

  font-size: 32rem;
  line-height: 46rem;

  color: #222222;
}
.ma-work-add-content {
  width: 1378rem;
  box-sizing: border-box;
  border: 1rem solid #e0e0e0;
  border-top: none;
  border-bottom: none;

  min-height: 1966rem;
  height: calc(100% - 347rem - 455rem);
}
.ma-work-add h2 {
  width: 387rem;
  height: 72rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 35rem;
  color: #222222;
}

.ma-edit-image {
  height: 448rem;
  box-sizing: border-box;
  border-bottom: 1rem solid #e0e0e0;
}
.ma-edit-image-02 {
  height: 257rem;

  box-sizing: border-box;
  border-bottom: 1rem solid #e0e0e0;
}
.ma-edit-image-container {
  width: 1378rem;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;

  padding: 48rem 346rem 78rem 48rem;
}
.ma-edit-image-02 .ma-edit-image-container {
  padding: 48rem 0;
  padding-left: 49rem;
}
.ma-edit-image-container h2 {
  padding-top: 3rem;
}
.ma-edit-image-container img {
  width: 322rem;
  height: 322rem;
  box-sizing: border-box;
  object-fit: contain;
}
.a-ex-edit-info {
  z-index: 1;
  height: 0;
}
/* 못생긴 기존 input 숨기기 */
#chooseFile-02 {
  visibility: hidden;
}
.image-button {
  position: absolute;
  cursor: pointer;

  width: 322rem;
  height: 322rem;
  background: url('../../../../../assets/icon_plus.png') no-repeat center;
  background-size: 65rem 65rem;
  border: 1rem solid #bdbdbd;
  box-sizing: border-box;
}

.ma-edit-image-container .edit-photo {
  top: 37rem;
  left: 745rem;

  width: 24rem;
  height: 24rem;
  z-index: 2;
  background: url('../../../../../assets/img_delete.png') no-repeat center;
  background-size: contain;
}
.ma-edit-image-container .ma-img-show {
  position: absolute;
  top: 48rem;
  left: 435rem;
  width: 322rem;
  height: 322rem;
  background: #ffffff;
  border: 1rem solid #e0e0e0;
  box-sizing: border-box;
  z-index: 1;
}
.ma-img-hide {
  display: none;
}
.ma-img-tlt {
  align-items: flex-start !important;
}
.ma-edit-image-02 .ma-img-tlt {
  display: flex;
  flex-direction: column;
}
.ma-img-tlt--sub {
  display: block;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 18rem;
  line-height: 26rem;
  padding-top: 17rem;

  color: #2f80ed;
}
.ma-edit-image-02 .image-button {
  width: 161rem;
  height: 161rem;
  background-size: 40rem 40rem;
}
.ma-edit-image-02 .ma-edit-image-container .ma-img-show {
  position: absolute;
  top: 48rem;
  left: 436rem;
  width: 161rem;
  height: 161rem;
  z-index: 1;
}
.ma-edit-image-02 .ma-edit-image-container .edit-photo {
  top: 37rem;
  left: 585rem;
  z-index: 2;
}

.ma-add-info li {
  display: flex;
  flex-direction: row;
  padding-top: 54rem;
}
.ma-add-info li:first-child {
  padding-top: 0;
}
.ma-add-info input {
  width: 596rem;
  height: 72rem;
  background: #ffffff;
  /* Gray 5 */

  border: 1rem solid #bdbdbd;

  outline: none;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #222222;

  box-sizing: border-box;
  padding-left: 24rem;
}
.ma-add-info input::placeholder {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #bdbdbd;
}
.ma-add-info .button-container {
  width: 596rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -4rem;
}
.ma-add-info .drop-container {
  width: 598rem;
  height: 72rem;
  z-index: unset;
}

.ma-add-info .drop-select {
  width: 596rem;
  height: 72rem;
  box-sizing: border-box;
  border: 1rem solid #bdbdbd;
  color: #222222;
}
.ma-add-info .show-drop-list {
  border: 1rem solid #bdbdbd;
}
.ma-add-info .show-drop-list li {
  width: 590rem;
  padding-top: 0;

  box-sizing: border-box;
  border-bottom: 1rem solid #f2f2f2;
}
.ma-add-info textarea {
  box-sizing: border-box;

  padding-left: 24rem;
  padding-top: 21rem;
  width: 596rem;
  height: 241rem;

  background: #ffffff;
  /* Gray 5 */

  border: 1rem solid #bdbdbd;
  outline: none;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 20rem;
  line-height: 29rem;

  color: #222222;

  resize: none;
}
.ma-add-info textarea::placeholder {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #bdbdbd;
}
.ma-add--button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ma-add--button button {
  background: none;

  box-sizing: border-box;

  width: 290rem;
  height: 80rem;

  border: 1rem solid #000000;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 35rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  /* Black */

  color: #222222;

  margin-right: 16rem;
}
.ma-add--button button:last-child {
  border: none;
  background: #000000;
  color: #ffffff;
  margin-right: 0;
}
.ma-work-add .footer__menu {
  border-top: 1rem solid #e0e0e0;
}

.ma-work-add .date-input {
  width: 280rem !important;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;
}

.ma-add-info-01,
.ma-add-info-02 {
  border-bottom: 1rem solid #e0e0e0;
}
.ma-add-info .container {
  width: 1378rem;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
  padding: 48rem 346rem 48rem 49rem;
}
.ma-add-info-01 .drop-container {
  width: 207rem;
  height: 72rem;
  z-index: unset;
  margin-right: 12rem;
}
.ma-add-info-01 .drop-select {
  width: 207rem;
  height: 72rem;
  box-sizing: border-box;
  border: 1rem solid #bdbdbd;
  color: #222222;
}
.ma-add-info-01 .show-drop-list li {
  width: 205rem;
}
.ma-add-info-01 .date-input {
  width: 377rem !important;
  font-size: 20rem;
  line-height: 29rem;
}

.ma-info-02-input-01:before {
  content: '원';
}
.ma-info-02-input {
  display: flex;
  flex-direction: row;
}
/* .ma-info-02-input input[type='text']::before {
  content: '원';
  width: 67rem;
} */
.ma-info-02-input input {
  width: calc(596rem - 67rem);
  border-right: none;
}
.ma-info-02-input span {
  flex: none; /* 버튼을 끝에 고정*/
  display: block;
  width: 67rem;
  height: 72rem;
  border: 1rem solid #bdbdbd;
  border-left: none;
  box-sizing: border-box;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333333;
}
.ma-add-info-03 .show-drop-list li {
  width: 594rem;
}
.ma-add-info-03 .filebox label,
.ma-add-info-03 button {
  width: 189rem;
  height: 72rem;

  background: #2f80ed;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #ffffff;
}
.ma-add-info-03 .upload-name {
  width: 395rem;
  height: 72rem;
}
.ma-info-03-drop-03 .drop-container {
  width: 422rem;
  height: 72rem;
  z-index: unset;
  margin-right: 12rem;
}
.ma-info-03-drop-03 .drop-select {
  width: 422rem;
  height: 72rem;
  box-sizing: border-box;
  border: 1rem solid #bdbdbd;
  color: #222222;
}
.ma-info-03-drop-03 .show-drop-list li {
  width: 420rem;
}
.ma-info-03-drop-03 button {
  width: 162rem;

  background: #bdbdbd;
}
.ma-work-add .ma-add--button {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}
.ma-add--button .container {
  width: 1378rem;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 72rem;
  padding-bottom: 133rem;
}
