.search-slide {
  width: 100%;
}

.search-slide__header {
  width: 100%;
  height: 170px;

  background: #fbfbfb;

  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
}
.search-slide__header-container {
  width: 1920px;
  display: flex;
  flex-direction: row;
}
.search__header__info {
  width: 565px;
  height: 100%;
  text-align-last: left;
  border-right: 1px solid #bdbdbd;
}
.search__header__info-e {
  display: block;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;

  /* Black */

  color: #222222;
  padding-top: 40px;
  padding-left: 320px;
}
.search__header__info-k {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #000000;

  padding-top: 15px;
  padding-left: 322px;
}
.search__header__dic {
  width: 1355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.search__header__dic ul {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
}
.search__header__dic button {
  width: 39px;
  height: 40px;
  border: none;
  background: none;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
  padding: 0;
}
.search__header__dic button:active,
.search__header__dic button.click {
  font-weight: 700;
  color: #333333;
}
.search-modal {
  display: none;
}

.search-slider {
  width: 100%;
  /* height: 1468px; */
  /* padding: 0 320px; */
  padding-top: 180px;
  padding-bottom: 44px;
}
.search-slider__list {
  width: 1280px;
  padding-left: 320px;
  position: relative;
}

.search-slider__item {
  width: 262px !important;

  text-align-last: left;
  margin-bottom: 56px;
  padding-right: -20px;
}
.search-slider__item:nth-child(5) {
  width: 232px !important;
}
.search-slider__item img {
  width: 232px;
  height: 232px;
  padding-bottom: 20px;
}
.search-item-author {
  width: 232px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  padding-bottom: 8px;
  color: #000000;
}
.search-item-email {
  width: 232px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Gray 4 */

  color: #bdbdbd;

  padding-bottom: 20px;
}
.search-slider__item button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  width: 112px;
  height: 39px;

  /* Blue 1 */

  border: 1px solid #2f80ed;
  border-radius: 34px;

  color: #2f80ed;
  text-align: center;

  display: inline-flex;
  flex-direction: column;
  align-items: center; /* 가로 - 중앙으로 */
  justify-content: center; /* 세로 - 상단으로 */
  background: none;
}
.search-slider__item button:active,
.search-slider__item button.clicked {
  color: #ffffff;
  background: #2f80ed;
}
/* 화살표 */
.search-slider__list .slick-prev,
.search-slider__list .slick-next {
  position: absolute;
  top: -74px;
  left: 1156px;
  display: block;

  width: 52px;
  height: 52px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.search-slider__list .slick-prev:before,
.search-slider__list .slick-next:before {
  content: "";
  background: url("../../assets/slider_prev.png") no-repeat;
  background-size: 52px 52px;
  width: 52px;
  height: 52px;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.search-slider__list .slick-next:before {
  background: url("../../assets/slider_next.png") no-repeat;
  background-size: 52px 52px;
}
.search-slider__list .slick-next {
  left: calc(1156px + 72px);
}

@media (max-width: 380px) {
  .search-slide {
    width: 100%;
  }
  .search-slide__header {
    width: 100%;
    height: 75px;

    background: #fbfbfb;

    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
  }
  .search-slide__header-container {
    width: 360px;
    display: flex;
    flex-direction: row;
  }
  .search__header__info {
    width: inherit;
    height: 100%;
    text-align-last: left;
    border-right: none;
  }
  .search__header__info-e {
    font-size: 12px;
    line-height: 16px;
    padding-top: 16px;
    padding-left: 20px;
  }
  .search__header__info-k {
    font-size: 20px;
    line-height: 23px;
    padding-top: 4px;
    padding-left: 20px;
  }
  .search__header__dic {
    display: none;
  }
  .search-modal {
    display: flex;
    align-items: center;
  }
  .search-modal button {
    display: block;
    width: 89px;
    height: 33px;
    border: 1px solid #bdbdbd;

    background: transparent;
    margin-right: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .search-modal button span {
    display: inline-block;

    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #222222;
  }
  .search-modal button .botton-arrow {
    width: 12px;
    height: 12px;
    background: url("../../assets/arrow_down.png") no-repeat;
    background-size: 8px 4px;
    background-position: center center;
  }
  .search-slider {
    width: 100%;
    /* height: 1468px; */
    /* padding: 0 320px; */
    padding-top: 64px;
    padding-bottom: 10px;
  }
  .search-slider__list {
    width: 320px;
    padding-left: 20px;
    position: relative;
  }

  .search-slider__item {
    width: 109px !important;

    text-align-last: left;
    margin-bottom: 34px;
    padding-right: -8px;
  }
  .search-slider__item:nth-child(3) {
    width: 101px !important;
  }
  .search-slider__item img {
    width: 101px;
    height: 101px;
    padding-bottom: 8px;
  }
  .search-item-author {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 4px;
  }
  .search-item-email {
    font-size: 10px;
    line-height: 12px;
    /* Gray 4 */

    color: #bdbdbd;

    padding-bottom: 14px;
  }
  .search-slider__item button {
    font-size: 12px;
    line-height: 14px;

    width: 66px;
    height: 26px;
  }
  .search-slider__item button:active,
  .search-slider__item button.clicked {
    color: #ffffff;
    background: #2f80ed;
  }
  /* 화살표 */
  .search-slider__list .slick-prev,
  .search-slider__list .slick-next {
    top: -30px;
    left: 276px;

    width: 20px;
    height: 20px;
  }

  .search-slider__list .slick-prev:before,
  .search-slider__list .slick-next:before {
    content: "";
    background: url("../../assets/slider_prev.png") no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
  .search-slider__list .slick-next:before {
    background: url("../../assets/slider_next.png") no-repeat;
    background-size: 20px 20px;
  }
  .search-slider__list .slick-next {
    left: calc(276px + 24px);
  }
}
