.side-arrow-slider__list {
  padding: 64px 320px;
  width: 1280px;
  position: relative;
}
.side-arrow-slider__item {
  width: 330px !important;
  padding-right: -20px;
  height: 318px;
}
.side-arrow-slider__item:nth-child(4) {
  width: 290px !important;
}
.side-arrow-image {
  width: 290px;
  height: 318px;
  background: #f2f2f2;
}
.side-arrow-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
/* 화살표 */
.side-arrow-slider__list .slick-prev,
.side-arrow-slider__list .slick-next {
  position: absolute;
  top: 160.5px;
  display: block;

  width: 52px;
  height: 52px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.side-arrow-slider__list .slick-prev:before,
.side-arrow-slider__list .slick-next:before {
  content: "";
  background: url("../../assets/slider_prev.png") no-repeat;
  background-size: 52px 52px;
  width: 52px;
  height: 52px;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.side-arrow-slider__list .slick-next:before {
  background: url("../../assets/slider_next.png") no-repeat;
  background-size: 52px 52px;
}

.side-arrow-slider__list .slick-prev {
  left: -92px;
}
.side-arrow-slider__list .slick-next {
  right: -92px;
}
