.admin-nft {
  padding: 0 80px;
  width: calc(1670px - 160px);
}
.admin-nft-container {
  margin-bottom: 162px;
}
.ad-nft--header {
  padding-top: 40px;
  padding-bottom: 20px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ad-nft--header > .ad-general-button {
  width: inherit;
  padding-top: 0;
  padding-bottom: 0;
}
.ad-nft--header > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #222222;
}
.admin-nft .admin-table-item {
  height: 162px;
}
.admin-nft .admin-table-header li:first-child,
.admin-nft .admin-table-item li:first-child {
  width: 80px;
}
.admin-nft .admin-table-header li:nth-child(2),
.admin-nft .admin-table-item li:nth-child(2) {
  width: 100px;
}
.admin-nft .admin-table-header li:nth-child(3),
.admin-nft .admin-table-item li:nth-child(3) {
  width: 220px;
}

.admin-nft .admin-table-header li:nth-child(4),
.admin-nft .admin-table-item li:nth-child(4) {
  width: 200px;
}
.admin-nft .admin-table-header li:nth-child(5),
.admin-nft .admin-table-item li:nth-child(5) {
  width: 200px;
}
.admin-nft .admin-table-header li:nth-child(6),
.admin-nft .admin-table-item li:nth-child(6) {
  width: 240px;
}
.admin-nft .admin-table-header li:nth-child(7),
.admin-nft .admin-table-item li:nth-child(7) {
  width: 240px;
}
.admin-nft .admin-table-header li:nth-child(8),
.admin-nft .admin-table-item li:nth-child(8) {
  width: 230px;
}

.admin-nft .ad-general-table {
  height: 1199px;
}
.admin-nft .ad-general-table .page-slider {
  height: 1140px;
  padding-top: 0;
}
.admin-nft .admin-table-item li:nth-child(3) > img {
  width: 120px;
  height: 120px;
  border: 1px solid #bdbdbd;
  object-fit: contain;
}
.admin-nft .sealed-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../../assets/admin-check-blue.png') no-repeat center;
  background-size: contain;
}
.admin-nft .admin-table-header li,
.admin-nft .admin-table-item li {
  border-right: none;
}
.admin-nft .ad-general-table .page-slider .slick-dots {
  top: 1185px;
}
.admin-nft .ad-general-table .page-slider__list .slick-first,
.admin-nft .ad-general-table .page-slider__list .slick-last,
.admin-nft .ad-general-table .page-slider__list .slick-prev,
.admin-nft .ad-general-table .page-slider__list .slick-next {
  top: 1210px;
}
