@media (max-width: 380px) {
  .artbase__item {
    min-width: 360px;
    height: 180px;
  }
  .artbase__info__deatil {
    width: 100%;
    border-right: none;
  }
  .right {
    border-left: none;
  }
  .artbase__info__deatil > .artbase__info-name {
    padding-top: 20px;
    padding-left: 11.11%;
    font-size: 8px;
    line-height: 11px;
  }
  .artbase__info__deatil > h3 {
    padding-top: 78px;
    padding-left: 11.11%;

    font-size: 20px;
    line-height: 23px;
  }
  .artbase__info__deatil > h5 {
    padding-top: 2px;
    padding-left: 11.11%;

    font-size: 10px;
    line-height: 14px;
  }
  .artbase-link {
    margin-left: 11.11%;
    margin-top: 12px;
    padding-left: 11.11%;
  }
}
