.artbase .section-header {
  height: 135rem;
  background: #fbfbfb;
}
.artbase .section-header-container {
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  padding-right: 209rem;
}
.artbase .section-header-container h3 {
  border-right: 1rem solid #e0e0e0;
  height: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 48rem;
  line-height: 56rem;

  color: #000000;
}
.artbase .section-header {
  background: #fbfbfb;
}
@media (max-width: 480px) {
  .artbase .section-header {
    height: 51rem;
  }
  .artbase .section-header-container h3 {
    border: none;
    font-size: 20rem;
    line-height: 27rem;
  }
  .artbase__item {
    min-width: 360rem;
    height: 180rem;
  }
  .artbase__info__deatil {
    width: 100%;
    border-right: none;
  }
  .right {
    border-left: none;
  }
  .artbase__info__deatil > .artbase__info-name {
    padding-top: 20rem;
    padding-left: 11.11%;
    font-size: 8rem;
    line-height: 11rem;
  }
  .artbase__info__deatil > h3 {
    padding-top: 78rem;
    padding-left: 11.11%;

    font-size: 20rem;
    line-height: 23rem;
  }
  .artbase__info__deatil > h5 {
    padding-top: 2rem;
    padding-left: 11.11%;

    font-size: 10rem;
    line-height: 14rem;
  }
  .artbase-link {
    margin-left: 11.11%;
    margin-top: 12rem;
    padding-left: 11.11%;
  }
}
