.admin-artist-detail {
  width: calc(1670px - 55px - 182px);
  padding-left: 55px;
  padding-right: 182px;
}
.ad-artist-info {
  width: 100%;
  padding: 36px 0 36px 43px;
  height: 217px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  box-sizing: border-box;
  margin-top: 44px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.ad-artist-info > img {
  box-sizing: border-box;

  width: 145px;
  height: 145px;

  border: 1px solid #bdbdbd;
  object-fit: contain;
  margin-right: 12px;
}
.ad-artist-info--item {
  margin: 0 70px;
}

.ad-artist-info--item > h2 {
  display: flex;
  flex-direction: row;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 20px;

  text-align-last: left;
}
.ad-artist-info--item > h2:last-child {
  padding-bottom: 0;
}
.ad-artist-info--item > h2 > span:first-child {
  color: #828282;
}
.ad-artist-info--item > h2 > span:last-child {
  color: #333333;
}
.ad-artist-info--item:nth-child(2) {
  width: 186px;
}
.ad-artist-info--item:nth-child(2) > h2 > span:first-child {
  display: block;
  width: 127px;
}
.ad-artist-info--item:nth-child(3) {
  width: 262px;
  margin: 0;
  padding: 0 70px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.ad-artist-info--item:nth-child(3) > h2 > span:first-child {
  display: block;
  width: 127px;
}

.ad-artist-info--item:nth-child(4) {
  width: 278px;
}
.ad-artist-info--item:nth-child(4) > h2 > span:first-child {
  display: block;
  width: 185px;
}
.ad-artist-info--item .false-state {
  color: #eb5757 !important;
}
.ad-artist-history {
  padding-top: 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ad-artist--header {
  width: 100%;
  height: 40px;
  background: #2b2e3f;
  border-radius: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 28px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.ad-artist-history-01 {
  width: 683px;
}
.ad-artist-history--item {
  width: 100%;
}
.ad-artist-history--item > article {
  width: 100%;

  padding: 20px 28px;

  height: 106px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  box-sizing: border-box;

  margin-bottom: 28px;
}
.ad-artist-history--item > article > p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 155.2%;
  /* or 22px */

  text-align: justify;

  color: #222222;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.ad-artist-history--item > ul {
  width: 100%;

  padding: 20px 28px;

  height: 140px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  box-sizing: border-box;
}
.ad-artist-history--item > ul > li {
  font-family: 'Noto Sans';
  font-style: normal;

  font-size: 14px;
  line-height: 19px;
  padding-bottom: 8px;
}
.ad-artist-history--item > ul > li:last-child {
  padding-bottom: 0;
}
.ad-artist-history--item > ul > li > span:first-child {
  font-weight: 500;
  color: #828282;
}
.ad-artist-history--item > ul > li > span:nth-child(2) {
  font-weight: 700;
  color: #222222;
  padding: 0 11px;
}
.ad-artist-history--item > ul > li > span:nth-child(3) {
  font-weight: 400;
  color: #333333;
}
.ad-artist-history-02 {
  width: 730px;
}
.ad-artist-history-02 > ul {
  width: 100%;
  padding: 20px 28px;
  height: 322px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  box-sizing: border-box;
}
.ad-artist-history-02 > ul > li {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-bottom: 16px;
}
.ad-artist-history-02 > ul > li:last-child {
  padding-bottom: 0;
}
.ad-artist-history-02 > ul > li > span:first-child {
  display: block;
  width: 100%;
  font-weight: 500;
  color: #2b2e3f;
}
.ad-artist-history-02 > ul > li > span:nth-child(2) {
  font-weight: 700;
  color: #222222;
  padding-right: 8px;
}
.ad-artist-history-02 > ul > li > span:nth-child(3) {
  font-weight: 400;
  color: #333333;
}
.ad-artist-work {
  margin-top: 28px;

  width: 100%;
  height: 583px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  overflow: scroll;
  padding: 36px;
  padding-top: 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 52px;
}
.ad-artist-work--item {
  margin-top: 25px;
  width: 173px;
  margin-right: 24px;
}
.ad-artist-work--item:nth-child(7n) {
  margin-right: 0;
}
.ad-artist-work--item > img {
  width: 100%;
  height: 173px;
  background: #f2f2f2;
  object-fit: contain;
}
.ad-artist-work--item > h3 {
  padding-top: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}
.ad-artist-work--item > h2 {
  padding-top: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #333333;
}
.ad-artist-work--item > h4 {
  padding-top: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #bdbdbd;
}
