.artist-banner {
  width: 100%;
  height: 915px;
}
.artist-banner__info {
  padding-top: 77px;
  padding-left: 320px;
  text-align: left;
}
.artist-banner__info h4 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* Black */

  color: #222222;
}
.artist-banner__info h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.artist-banner__slider {
  display: block;
  width: 100%;
  height: 593px;
  margin-left: 320px;
  margin-top: 46px;
  padding-bottom: 112px;
}
.artist__slider__list {
  /* display: flex;
  flex-direction: row !important; */
  height: 593px;
}
.artist__slider__item {
  margin-right: 30px;
  height: 593px;
}
.artist__slider__item img {
  height: 475px;
}
.artist__slider__item h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
}
.item-author {
  width: inherit;
  text-align-last: left;
  padding-top: 40px;

  color: #000000;
}
.item-title {
  width: inherit;
  text-align-last: left;
  padding-top: 12px;
  color: #bdbdbd;
}
