.admin-banner-edit {
  padding-left: 86px;
  padding-right: 124px;
  width: calc(1670px - 86px - 124px);
}
.admin-banner-edit--content {
  margin-top: 47px;
  margin-bottom: 35px;
  width: 100%;
  height: 837px;

  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  box-sizing: border-box;
  padding-top: 35px;
  padding-left: 35px;
}
.admin-banner-edit--content > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.admin-banner-edit--content > ul > li > h2 {
  width: 105px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #828282;
}
.admin-banner-edit--content > ul > li > .input-text {
  padding: 12px 0 12px 20px;

  width: 1280px;
  height: 47px;

  background: none;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #000000;
  box-sizing: border-box;

  outline: none;
}
.admin-banner-edit--content > ul > li > .input-radio {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.admin-banner-edit--content > ul > li > .input-radio:checked,
.admin-banner-edit--content > ul > li > .input-radio:active {
  accent-color: #000000;
}
.admin-banner-edit--content > ul > li > span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Black */

  color: #222222;
  margin-right: 40px;
}
.admin-banner-edit--content .filebox label {
  width: 92px;
  height: 43px;

  /* Blue 1 */

  background: #2f80ed;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.admin-banner-edit--content #attachFile .file-preview {
  width: 186px;
  height: 43px;

  border: 1px solid #000000;
  border-radius: 48px;
}
.admin-banner-edit--content #attachFile .file-preview > h2 {
  font-size: 16px;
  line-height: 19px;
}
.admin-banner-edit--content #attachFile .file-preview > button {
  background-size: 11.08px 11.08px;
}
.admin-banner-edit--content .img-preview-title {
  align-self: flex-start;
}
.admin-banner-edit--content .img-preivew {
  box-sizing: border-box;

  width: 1280px;
  height: 478px;

  border: 1px solid #bdbdbd;
  border-radius: 4px;
}
.admin-banner-edit--content img {
  width: 1066px;
  height: 400px;
  object-fit: contain;

  margin-top: 36px;
  margin-left: 107px;
}
