.admin-banner-main {
  padding: 0 80px;
  width: calc(1670px - 160px);
}
.admin-banner--header {
  margin-top: 80px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.admin-banner--info > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #222222;
  padding-bottom: 12px;
}
.admin-banner--info > h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}
.admin-banner--info > h2 > .color-blue {
  color: #2f80ed;
}
.admin-banner--button {
  display: flex;
  flex-direction: row;
}
.admin-banner--button > button {
  width: 54px;
  height: 54px;

  border: 1px solid #000000;
  background: none;
}
.admin-banner--button > button:first-child {
  background: url('../../../assets/admin-up-icon.png') no-repeat center;
  background-size: 24px 26.8px;
  margin-right: 8px;
}
.admin-banner--button > button:last-child {
  background: url('../../../assets/admin-down-icon.png') no-repeat center;
  background-size: 24px 26.8px;
}
.admin-banner-main .admin-table-item {
  height: 65px;
}
.admin-banner-main .admin-table-item a {
  display: flex;
  flex-direction: row;
}
.admin-banner-main .admin-table-header li:first-child,
.admin-banner-main .admin-table-item li:first-child {
  width: 51px;
}
.admin-banner-main .admin-table-header li:nth-child(2),
.admin-banner-main .admin-table-item a li:nth-child(1) {
  width: 102px;
}
.admin-banner-main .admin-table-header li:nth-child(3),
.admin-banner-main .admin-table-item a li:nth-child(2) {
  width: 376px;
}

.admin-banner-main .admin-table-header li:nth-child(4),
.admin-banner-main .admin-table-item a li:nth-child(3) {
  width: 361px;
}
.admin-banner-main .admin-table-header li:nth-child(5),
.admin-banner-main .admin-table-item a li:nth-child(4) {
  width: 320px;
}
.admin-banner-main .admin-table-header li:nth-child(6),
.admin-banner-main .admin-table-item a li:nth-child(5) {
  width: 295px;
  border-right: none;
}
.admin-banner-main .ad-general-table {
  height: 379px;
}
.admin-banner-main .ad-general-table .page-slider {
  height: 321px;
  padding-top: 0;
}
