.admin-new {
  padding: 0 80px;
  width: calc(1670px - 160px);
}
.admin-new .admin-table-header li:first-child,
.admin-new .admin-table-item li:first-child {
  width: 51px;
}
.admin-new .admin-table-header li:nth-child(2),
.admin-new .admin-table-item li:nth-child(2) {
  width: 102px;
}
.admin-new .admin-table-header li:nth-child(3),
.admin-new .admin-table-item li:nth-child(3) {
  width: 1081px;
}

.admin-new .admin-table-header li:nth-child(4),
.admin-new .admin-table-item li:nth-child(4) {
  width: 273px;
  border-right: none;
}
