.page-slider {
  width: 100%;
  height: 1492px;
  padding-top: 70px;
}
.page-slider__list {
  width: 1280px;
  height: 1492px;
  padding: 0 320px;
  position: relative;
}
.page-slider__item {
  width: 232px !important;
  padding-bottom: 54px;
  margin-right: 29px;
}
.page-slider__item:nth-child(5) {
  margin-right: 0;
}
.page-slider-item-row {
  display: flex;
  flex-direction: column;
}
.page-item-image {
  width: 232px;
  height: 232px;
  object-fit: cover;
  margin-bottom: 20px;
}
.page-item-author {
  width: 100%;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 8px;
}
.page-item-author span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.page-item-email {
  width: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #828282;

  padding-top: 8px;
  padding-bottom: 20px;
}
.page-item-button {
  width: 112px;
  height: 39px;

  border-radius: 34px;

  background: none;
  box-sizing: border-box;
  border: 1px solid #2f80ed;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #2f80ed;
}
/* 팔로우 버튼 클릭시 */
.page-item-button:active {
  background: #2f80ed;
  color: #ffffff;
}
.page-slider .slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: absolute;
  top: calc(1385px - 20px);
  left: 0;
}

.page-slider .slick-dots li {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0;
  padding: 0 0;
  cursor: pointer;
}

.page-slider .dots-number {
  height: 100%;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height */

  color: #bdbdbd;
  /* padding-top: 4px; */
}
.page-slider .slick-dots li.slick-active .dots-number {
  color: #222222;
}

/* 화살표 */
.page-slider__list .slick-first,
.page-slider__list .slick-last,
.page-slider__list .slick-prev,
.page-slider__list .slick-next {
  z-index: 1;
  position: absolute;

  top: 1385px;
  left: 458px;

  display: block;

  width: 40px;
  height: 40px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
}
.page-slider__list .slick-first:before,
.page-slider__list .slick-last:before,
.page-slider__list .slick-prev:before,
.page-slider__list .slick-next:before {
  content: '';
  background: url('../../assets/page_prev.png') no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.page-slider__list .slick-next:before {
  background: url('../../assets/page_next.png') no-repeat;
  background-size: 40px 40px;
}
.page-slider__list .slick-first:before {
  background: url('../../assets/page_first.png') no-repeat;
  background-size: 40px 40px;
}
.page-slider__list .slick-last:before {
  background: url('../../assets/page_last.png') no-repeat;
  background-size: 40px 40px;
}
.page-slider__list .slick-next {
  left: calc(458px + 328px);
}
.page-slider__list .slick-first {
  left: calc(458px + 320px - 40px);
}
.page-slider__list .slick-last {
  left: calc(458px + 320px + 328px + 40px);
}
.slick-dots-container {
  width: 240px;
  /* overflow: hidden; */
  height: 40px;
}
