.ma-nft-add {
  height: 100%;
  min-width: 1920rem;
}

.ma-nft-add .section-header {
  background: #fbfbfb;
}
.ma-nft-add .section-header h3 {
  height: 100rem;

  font-size: 32rem;
  line-height: 46rem;

  color: #222222;
}
.ma-nft-content {
  height: calc(100% - 247rem - 455rem);
}
.ma-nft-content .container {
  width: 1378rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  /* border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0; */
}
.ma-nft-content button {
  width: 290rem;
  height: 80rem;

  background: #000000;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 35rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}
.ma-nft-add .footer__menu {
  border-top: 1rem solid #e0e0e0;
}
