.slider__list {
  position: absolute;
  height: 593rem;
  width: 1600rem;
}
.slider__item {
  margin-right: 30rem;
  height: 593rem;
}
.slider__item img {
  height: 475rem;
}
.slider__item h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;
  /* identical to box height */
}
.item-author {
  width: inherit;
  text-align-last: left;
  padding-top: 40rem;

  color: #000000;
}
.item-title {
  width: inherit;
  text-align-last: left;
  padding-top: 12rem;
  color: #bdbdbd;
}

/* 화살표 */
.slick-prev,
.slick-next {
  position: absolute;
  top: -70rem;
  /* left: 0rem; */

  display: block;

  width: 40rem;
  height: 40rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.slick-prev:before,
.slick-next:before {
  content: '';
  background: url('../../assets/slider_prev.png') no-repeat;
  background-size: 40rem 40rem;
  width: 40rem;
  height: 40rem;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.slick-next:before {
  background: url('../../assets/slider_next.png') no-repeat;
  background-size: 40rem 40rem;
}

.slick-prev {
  left: 1184rem;
}
.slick-next {
  right: 322rem;
}
