.sign-artist {
  width: 100%;
  min-height: 100%;
  min-width: 1920rem;
}
.sign-artist-container {
  width: 1378rem;
  min-height: calc(100% - 100rem - 455rem);
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}
.artist-content {
  padding-top: 89rem;
  width: 1280rem;

  text-align-last: left;

  display: flex;
  flex-wrap: wrap;
}
.artist-content .mr-88 {
  margin-right: 88rem;
}
.artist-content .general-input {
  width: 596rem;
  margin-bottom: 54rem;
}
.artist-content .general-input-num {
  width: 465rem;
}
.artist-content .general-password-input {
  width: calc(596rem - 60rem);
}
.nation-select {
  width: 596rem;
  height: 56rem;

  border: 1rem solid #cccccc;
  box-sizing: border-box;

  padding-left: 20rem;

  outline: none;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;

  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url('../../../assets/arrow_down.png') calc(100% - 20rem) center
    no-repeat;
  background-size: 16rem 9rem;
}
.nation-default {
  color: #bdbdbd !important;
}
.artist-option {
  width: 1280rem;
  padding-top: 79rem;
  padding-bottom: 110rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.artist-option .login-option {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-bottom: 12rem;
}

.sign-artist .drop-select,
.sign-artist .show-drop-list li {
  width: 596rem;
  height: 56rem;
}
.sign-artist .drop-select {
  font-weight: 400;
  font-size: 16rem;
  line-height: 23rem;
}
.sign-artist .show-drop-list li {
  width: 594rem;

  font-weight: 400;
  font-size: 16rem;
  line-height: 23rem;
}
@media (max-width: 480px) {
  .sign-artist {
    width: 100%;
    min-width: 360rem;
  }
  .sign-artist-container {
    width: 360rem;
    min-height: calc(100% - 63rem - 322rem);
    border: none;
  }
  .artist-content {
    padding-top: 24rem;
    width: 319rem;
  }
  .artist-content .mr-88,
  .artist-content .general-item:nth-child(odd) {
    margin-right: 0rem;
    margin-bottom: 8rem !important;
  }
  .artist-content .general-input {
    width: 319rem;
    margin-bottom: 28rem;
  }
  .artist-content .general-input-num {
    width: 236rem;
  }
  .artist-content .general-password-input {
    width: calc(319rem - 60rem);
  }

  .artist-option {
    width: 319rem;
    padding-top: 48rem;
    padding-bottom: 16rem;
  }
  .artist-option .login-option {
    padding-bottom: 8rem;
  }

  .sign-artist .drop-select,
  .sign-artist .show-drop-list li {
    width: 319rem;
    height: 42rem;
  }
  .sign-artist .drop-select {
    font-weight: 400;
    font-size: 12rem;
    line-height: 17rem;
  }
  .sign-artist .show-drop-list li {
    width: 317rem;

    font-size: 12rem;
    line-height: 17rem;
  }

  .sign-artist .general-next {
    padding-bottom: 36rem;
  }
  .artist-content .general-item {
    display: flex;
    flex-direction: column;
    order: 4;
  }
  .artist-content .general-item:nth-child(1) {
    order: 1;
  }

  .artist-content .general-item:nth-child(5) {
    order: 2;
    padding-bottom: 28rem;
  }
  .artist-content .general-item:nth-child(6) {
    order: 3;
  }
}
