.art-topic {
  border-bottom: 1rem solid #e0e0e0;
}
.art-topic .container {
  width: 1378rem;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.art-topic-content {
  display: flex;
  flex-direction: row;
  padding: 0 49rem;
  padding-top: 70rem;
  padding-bottom: 119rem;
  height: 100%;
}
.art-topic-content img {
  border: 1rem solid #f2f2f2;
  box-sizing: content-box;
  object-fit: contain;
  box-sizing: border-box;
}
.art-topic--main {
  width: 730rem;
  height: 954rem;
}
.art-topic--sub {
  display: flex;
  flex-direction: column;
  padding-left: 40rem;
}
.art-topic--sub img {
  width: 510rem;
  height: 457rem;
}
.art-topic--sub img:first-child {
  margin-bottom: 40rem;
}
