.admin-history-modal .modal-body {
  display: block;
  width: 1120px;
  height: 880px;
  background: #ffffff;
  border-radius: 12px;
}
.admin-history-header {
  border-bottom: none;
  width: 100%;
  min-width: 100%;
  height: 117px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.admin-history-header > h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #222222;
  padding-left: 42px;
}
.admin-history-close {
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  background: url('../../assets/icon-x-black.png') no-repeat center;
  background-size: contain;

  right: 52px;
}
.admin-history-content {
  padding: 0 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin-history-content > li {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 24px;
}
.admin-history-content h2 {
  height: 64px;
  width: 113px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  display: flex;
  align-items: center;
  color: #222222;
}
.admin-history-content .date-input {
  width: 440px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
.admin-history-content .date-input::before {
  font-size: 16px;
  line-height: 23px;
}

.admin-history-content input {
  width: 392px;
  height: 64px;
  padding-left: 20px;
  box-sizing: border-box;

  border: 1px solid #bdbdbd;
  border-radius: 8px;
}
.admin-history-content .drop-container {
  z-index: unset;
}
.admin-history-content .drop-select {
  width: 392px;
  height: 64px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
.admin-history-content .drop-select:after {
  width: 16px;
  background-size: 16px 9px;
}
.admin-history-content .show-drop-list {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
}
.admin-history-content .show-drop-list > li {
  width: 392px;
  height: 64px;
}
.admin-history-content .show-drop-list > li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.admin-history-content .show-drop-list > li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.admin-history-content textarea {
  width: 923px;
  height: 270px;

  box-sizing: border-box;
  border: 1px solid #bdbdbd;

  outline: none;
  padding: 18px 20px;

  resize: none;
  border-radius: 8px;

  font-size: 20px;
  line-height: 27px;
}
.ta-tlt > h2 {
  align-self: flex-start;
  display: block;
}
.admin-history-modal input[type='date']::-webkit-calendar-picker-indicator {
  background: url(../../assets/icon_calender-color.png) center no-repeat;
  background-size: 22.5px 25px;
  width: 80px;
}
.admin-history-modal .date-bar {
  width: 43px;
}
.admin-history-modal .admin-edit-button {
  margin-top: 3px;
  margin-right: 52px;
}

.admin-history-modal .filebox {
  width: inherit;
}
.admin-history-modal .filebox label {
  width: 106px;
  height: 46px;

  background: #2f80ed;
  border-radius: 4px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}
