.admin-school-modal .admin-history-content h2 {
  width: 93rem;
}
.admin-school-modal .admin-history-content .drop-select,
.admin-school-modal .admin-history-content .show-drop-list > li {
  width: 402rem;
}
.admin-school-modal .admin-history-content input {
  width: 402rem;
}
.admin-school-modal .date-input {
  width: 402rem;
}
.admin-school-modal .full-size {
  width: 943rem;
}
.admin-school-modal .admin-history-content textarea {
  width: 943rem;
  height: 356rem;
  border-radius: 8rem;
}
.admin-history-modal .admin-edit-button {
  margin-right: 42rem;
}
