.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(8.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  /* 모달창 크기 */
  width: 360rem;
  /* height: 200rem; */

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  /* background-color: gray;
  border: 1rem solid black;
  border-radius: 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-item__dic {
  width: 325rem;
  margin: 0 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-item__dic ul {
  border-top: 0.5rem solid #828282;
  border-bottom: 0.5rem solid #828282;

  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 22rem 0;
}
.modal-item__dic ul:last-child {
  border-top: none;
}
.modal-item__dic ul button {
  width: 39rem;
  height: 40rem;
  border: none;
  background: none;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20rem;
  line-height: 27rem;
  color: #f2f2f2;
  padding: 0;
}
.modal-item__dic ul button.click,
.modal-item__dic ul button:active {
  background: #2f80ed;
  border-radius: 50%;
}
/* 모달창 내부 X버튼 */
.modal-close {
  margin-top: 72rem;
  /* margin-bottom: 36rem; */

  width: 50rem;
  height: 50rem;

  background: url('../../assets/close_button.png') #ffffff no-repeat;
  background-size: 15rem 15rem;
  background-position: center center;
  border: none;
  border-radius: 50%;
}

@media (min-width: 481px) {
  .modal-container {
    display: none;
  }
}
