.support-notice {
  min-height: 2145rem;
  min-width: 1920rem;
  /* border-bottom: 1rem solid #e0e0e0; */
}
.support-notice .table-slider-header {
  display: none;
}
.support-notice .table-slide {
  min-width: 1378rem;
}
.support-notice .container {
  width: 1378rem;
  height: 100%;
}
.support-notice .table-header {
  min-width: 1378rem;
  height: 166rem;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 50rem;
  line-height: 68rem;
  display: flex;
  align-items: center;

  color: #000000;
}
.support-notice .table-header-container {
  padding-left: 49rem;
}
.sn-table-item {
  height: 178rem;
  border-bottom: 1rem solid #f2f2f2;

  box-sizing: border-box;
  padding: 20rem 196rem 20rem 49rem;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  color: #000000;
}
.sn-mb-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
.sn-table-item .sb-ti-date {
  width: 121rem;
}
.sn-table-item .sb-ti-date > h5 {
  font-size: 20rem;
  line-height: 27rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sn-table-item .sb-ti-date > h1 {
  font-size: 50rem;
  line-height: 68rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 500;
}
.sb-ti-content {
  width: 952rem;
}
.sb-ti-content > h1 {
  font-size: 36rem;
  /* line-height: 49rem; */
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding-bottom: 12rem;
}
.sb-ti-content > p {
  font-size: 14rem;
  line-height: 19rem;
}
.support-notice .table-slider {
  border-bottom: none;
}
.support-notice .table-slide {
  min-height: calc(100% - 347rem - 455rem);
}
.support-notice .table-slider {
  height: 1979rem;
}
.support-notice .page-slider__list {
  height: 1770rem;
}

.support-notice .slick-dots {
  top: calc(1878rem - 20rem);
}
.support-notice .slick-first,
.support-notice .slick-last,
.support-notice .slick-prev,
.support-notice .slick-next {
  top: 1878rem;
}
@media (max-width: 480px) {
  .support-notice {
    min-height: 691rem;
    min-width: 360rem;
  }
  .support-notice .table-slider-header {
    display: none;
  }
  .support-notice .table-slide {
    min-width: 360rem;
  }
  .support-notice .container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .support-notice .table-header {
    min-width: 360rem;
    height: 67rem;

    font-size: 20rem;
    line-height: 27rem;
  }
  .support-notice .table-header-container {
    margin: 0 auto;
    width: 360rem;
    padding-left: 24rem;
    border: none;
  }
  .sn-table-item {
    height: 134rem;
    border-bottom: 1rem solid #f2f2f2;

    box-sizing: border-box;
    padding: 19rem 24rem 20rem 20rem;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    color: #000000;
  }
  .sn-mb-container {
    margin: 0 auto;
    width: 360rem;
    box-sizing: border-box;
    padding: 0 24rem;
  }
  .sn-table-item .sb-ti-date {
    width: 92rem;
  }
  .sn-table-item .sb-ti-date > h5 {
    font-size: 10rem;
    line-height: 14rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sn-table-item .sb-ti-date > h1 {
    font-size: 24rem;
    line-height: 33rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
  }
  .sb-ti-content {
    width: 224rem;
  }
  .sb-ti-content > h1 {
    font-size: 20rem;
    /* line-height: 49rem; */
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding-bottom: 4rem;
  }
  .sb-ti-content > p {
    width: 100%;
    height: 64rem;
    font-size: 12rem;
    line-height: 16rem;

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* word-break: keep-all; */
    /* padding-top: 0; */
  }
  .support-notice .table-slider {
    border-bottom: none;
  }
  .support-notice .table-slide {
    min-height: calc(100% - 182rem - 322rem);
  }
  .support-notice .table-slider {
    height: 624rem;
  }
  .support-notice .page-slider__list {
    height: 624rem;
  }

  .support-notice .slick-dots {
    top: calc(580rem - 10rem);
  }
  .support-notice .slick-first,
  .support-notice .slick-last,
  .support-notice .slick-prev,
  .support-notice .slick-next {
    top: 580rem;
    left: 79rem;
  }
  .support-notice .slick-next {
    left: calc(79rem + 186rem);
  }
  .support-notice .slick-first {
    left: calc(79rem - 14rem);
  }
  .support-notice .slick-last {
    left: calc(79rem + 186rem + 14rem);
  }
}
