.top-arrow {
  width: 100%;
  position: relative;
  z-index: 0;
  height: calc(710px + 135px);
}
.top-arrow-container {
  max-width: 1920px;
  margin: 0 auto;
  height: calc(710px + 135px);
  overflow: hidden;

  position: relative;
  z-index: 2;
  top: -135px;
}
.top-arrow-slider {
  height: calc(710px + 135px);
  padding: 0 320px;
  overflow: hidden;
  padding-top: calc(100px + 135px);
  padding-bottom: 100px;

  position: relative;
  z-index: 2;
}
.top-arrow-item {
  width: 440px !important;
  height: 510px !important;
  /* height: 512px; */
  /* margin-right: 40px; */
  padding-right: -40px;
  /* height: inherit; */
}
.top-arrow-item:nth-child(3) {
  width: 400px !important;
}

.top-arrow-image {
  width: 400px;
  height: 400px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}
.top-arrow-image > img {
  height: 400px;
}

.top-arrow-author {
  width: 400px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  padding-top: 32px;

  color: #000000;
}
.top-arrow-title {
  width: 400px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* Gray 4 */
  padding-top: 12px;
  color: #bdbdbd;
}
.top-arrow-slider .slick-list {
  width: 1280px;
  height: 510px;
}
.top-arrow-slider .slick-track {
  height: 510px;
}
/* 화살표 */
.top-arrow-slider .slick-prev,
.top-arrow-slider .slick-next {
  position: absolute;
  z-index: 2;

  top: 68.5px;
  display: block;

  width: 40px;
  height: 40px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.top-arrow-slider .slick-prev:before,
.top-arrow-slider .slick-next:before {
  content: "";
  background: url("../../assets/slider_prev.png") no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.top-arrow-slider .slick-next:before {
  background: url("../../assets/slider_next.png") no-repeat;
  background-size: 40px 40px;
}

.top-arrow-slider .slick-prev {
  left: 1475px;
}
.top-arrow-slider .slick-next {
  right: 346px;
}
