.top-arrow {
  width: 100%;
  position: relative;
  z-index: 0;
  height: calc(710rem + 135rem);
  border-bottom: 1rem solid #e0e0e0;
}
.top-arrow .display-history__header {
  height: 109rem;
}
.top-arrow-container {
  max-width: 1920rem;
  margin: 0 auto;
  height: calc(685rem + 102rem);
  overflow: hidden;

  position: relative;
  z-index: 2;
  top: -102rem;
}
.top-arrow-slider {
  height: calc(710rem + 102rem);
  width: 1920rem;
  padding: 0 320rem;
  overflow: hidden;
  padding-top: calc(100rem + 102rem);
  padding-bottom: 100rem;

  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.top-arrow-item {
  width: 400rem !important;
  height: 510rem !important;
  margin-right: 40rem;
}
.top-arrow-item:nth-child(3) {
  margin-right: 0;
}
.top-arrow-image {
  width: 400rem;
  height: 400rem;
  border: 1rem solid #f2f2f2;
  object-fit: contain;
  box-sizing: border-box;
}

.top-arrow-author {
  width: 400rem;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;

  padding-top: 32rem;

  color: #000000;
}
.top-arrow-title {
  width: 400rem;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;
  /* Gray 4 */
  padding-top: 12rem;
  color: #bdbdbd;
}
.top-arrow-price {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32rem;
  line-height: 38rem;

  padding-top: 32rem;
  color: #2f80ed;
}
.top-arrow-slider .slick-list {
  width: 1280rem;
  /* height: 510rem; */
  padding: 0 0 !important;
}
.top-arrow-slider .slick-track {
  height: 510rem;
}
/* 화살표 */
.top-arrow-slider .slick-prev,
.top-arrow-slider .slick-next {
  position: absolute;
  z-index: 2;

  top: 50rem;
  left: 1476rem;
  display: block;

  width: 52rem;
  height: 52rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.top-arrow-slider .slick-prev:before,
.top-arrow-slider .slick-next:before {
  content: '';
  background: url('../../assets/slider_prev.png') no-repeat;
  background-size: 52rem 52rem;
  width: 52rem;
  height: 52rem;
  display: inline-block;
  line-height: 0;
  opacity: 1;
}
.top-arrow-slider .slick-next:before {
  background: url('../../assets/slider_next.png') no-repeat;
  background-size: 52rem 52rem;
}

.top-arrow-slider .slick-prev {
  /* left: 1475rem; */
}
.top-arrow-slider .slick-next {
  /* right: 346rem; */
  left: calc(1476rem + 72rem);
}
