.banner {
  width: 100%;
  min-width: 1920rem;
  height: 707rem;

  display: flex;
  flex-direction: row;
}
/* .banner__info {
  width: 25%;
  border-right: 1rem solid #bdbdbd;
} */
.banner__art_slide {
  width: 74%;
}

.banner__info__title {
  padding-top: 80rem;
  padding-right: 8.33%;
  text-align: right;
}
.banner__info__title h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48rem;
  color: #000000;
}
.banner__number {
  display: block;
  padding-top: 12rem;
  padding-left: 8.33%;
}
.banner__number li span {
  display: block;
  min-width: 6rem;
  width: 0.166%;
  height: 84rem;
  margin-bottom: 10rem;

  background: #f2f2f2;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
span.choose {
  background: #000000 !important;
}
.banner__info__detail {
  padding-top: 59rem;
  padding-right: 8.33%;
  padding-left: 24%;

  text-align: right;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;

  color: #828282;
  line-height: 27rem;
}
.auto-carousel {
  display: none;
}
@media (max-width: 480px) {
  .banner {
    min-width: 360rem;
    height: 314rem;
    overflow: hidden;
  }
  .banner__info {
    width: 100%;
    border-right: none;
  }
  .banner__info__title {
    padding-top: 16rem;
    padding-left: 13.33%;
    padding-right: 0;
    text-align: right;
    float: left;
  }
  .banner__info__title h2 {
    font-size: 20rem;
  }
  .banner-phone {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .banner__number {
    padding-top: 18rem;
    padding-left: 5.55%;
  }
  .banner__number li span {
    display: inline-block;
    min-width: 4rem;
    width: 1.11%;
    height: 32rem;
    margin-bottom: 4rem;
  }
  .auto-carousel {
    display: block;
    margin-left: 24rem;
    max-width: 368rem;
    width: 88.88%;
    height: 202rem;
  }
  .banner__info__detail {
    display: none;
  }
  .banner__art_slide {
    display: none;
  }
}
