.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}
/* the parent */
.slick-list {
  margin-left: 0 -80px;
  /* padding-left: 0 !important; */
}
.img-box {
  width: 1163px !important;
}
.img-box > img {
  width: 1063px !important;
  height: 585px;
  /* margin-right: 100px; */
}
.slick-current {
  width: 1163px !important;
}
/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  /* height: 100%; */
  width: 52px;
  height: 52px;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  margin: auto 2.5%;
  margin-right: 24px;
  position: relative;
}
.slick-next {
  position: absolute;
  top: 345px;
  left: 1163px;
}
.slick-prev:before,
.slick-next:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 52px;
  height: 52px;
  color: #222222;
}
.slick-prev:before {
  background: url("../../../assets/arrow_left.png");
  background-size: contain;
}
.slick-next:before {
  background: url("../../../assets/arrow_right.png");
  background-size: contain;
}
/* Slider */
.slick-slider {
  display: block;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-list {
  display: block;
  height: 100%;
  overflow: hidden;
  margin: auto 0;
  margin-top: 91px;
}
.slick-list:focus {
  outline: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
@media (max-width: 380px) {
  .img-box {
    width: 368px !important;
  }
  .img-box > img {
    width: 368px !important;
    height: 202px;
  }
  .slick-current {
    width: 368px !important;
  }
  .slick-list {
    margin-top: 18px;
  }
}
