.admin-qcoa {
  padding: 0 80px;
  width: calc(1670px - 160px);
}
.admin-qcoa-section-01 {
  margin-top: 60px;
  width: 100%;
}
.admin-qcoa-header {
  width: 100%;
  height: 59px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-top: 18px;
  background: #2b2e3f;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ad-qoca-s-01-content {
  height: 149px;

  /* White */

  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ad-qoca-s-01-content button {
  width: 186px;
  height: 55px;
  background: #2f80ed;
  border-radius: 8px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}
.admin-qcoa-section-02 {
  margin-bottom: 88px;
}
.ad-qcoa-s-02--header {
  padding-top: 40px;
  padding-bottom: 20px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ad-qcoa-s-02--header > .ad-general-button {
  width: inherit;
  padding-top: 0;
  padding-bottom: 0;
}
.ad-qcoa-s-02--header > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #222222;
}
.admin-qcoa .admin-table-item {
  height: 162px;
}
.admin-qcoa .admin-table-header li:first-child,
.admin-qcoa .admin-table-item li:first-child {
  width: 60px;
}
.admin-qcoa .admin-table-header li:nth-child(2),
.admin-qcoa .admin-table-item li:nth-child(2) {
  width: 80px;
}
.admin-qcoa .admin-table-header li:nth-child(3),
.admin-qcoa .admin-table-item li:nth-child(3) {
  width: 180px;
}

.admin-qcoa .admin-table-header li:nth-child(4),
.admin-qcoa .admin-table-item li:nth-child(4) {
  width: 200px;
}
.admin-qcoa .admin-table-header li:nth-child(5),
.admin-qcoa .admin-table-item li:nth-child(5) {
  width: 220px;
}
.admin-qcoa .admin-table-header li:nth-child(6),
.admin-qcoa .admin-table-item li:nth-child(6) {
  width: 220px;
}
.admin-qcoa .admin-table-header li:nth-child(7),
.admin-qcoa .admin-table-item li:nth-child(7) {
  width: 140px;
}
.admin-qcoa .admin-table-header li:nth-child(8),
.admin-qcoa .admin-table-item li:nth-child(8) {
  width: 140px;
}
.admin-qcoa .admin-table-header li:nth-child(9),
.admin-qcoa .admin-table-item li:nth-child(9) {
  width: 140px;
}
.admin-qcoa .admin-table-header li:nth-child(10),
.admin-qcoa .admin-table-item li:nth-child(10) {
  width: 140px;
}
.admin-qcoa .ad-general-table {
  height: 1199px;
}
.admin-qcoa .ad-general-table .page-slider {
  height: 1140px;
  padding-top: 0;
}
.admin-qcoa .admin-table-item li:nth-child(3) > img {
  width: 120px;
  height: 120px;
  border: 1px solid #bdbdbd;
  object-fit: contain;
}
.admin-qcoa .sealed-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../../../assets/admin-check-blue.png') no-repeat center;
  background-size: contain;
}
.admin-qcoa .admin-table-header li,
.admin-qcoa .admin-table-item li {
  border-right: none;
}
.admin-qcoa .ad-general-table .page-slider .slick-dots {
  top: 1165px;
}
.admin-qcoa .ad-general-table .page-slider__list .slick-first,
.admin-qcoa .ad-general-table .page-slider__list .slick-last,
.admin-qcoa .ad-general-table .page-slider__list .slick-prev,
.admin-qcoa .ad-general-table .page-slider__list .slick-next {
  top: 1185px;
}
