.mypage-archive {
  height: 100%;
}
.mypage-archive .search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mypage-archive .ad-haeder__route {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;

  padding-bottom: 8px;
}
.mypage-archive .table-header {
  height: 226px;
}
.mypage-archive .drop-container {
  display: none;
}
.table-header-search {
  height: 100%;
  width: 100%;
}
.table-header-search h2 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;

  color: #222222;

  padding-top: 48px;
  padding-bottom: 34px;
}
.th-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-header-search .search__block {
  width: 536px;

  background: #ffffff;
  /* Gray 5 */

  border: 1px solid #e0e0e0;
  border-radius: 0px;
}
.table-header-search .search__block__input {
  padding-left: 21px;
  padding-bottom: 2px;
}
.table-header-search .search__block__button {
  width: 84px;
  background: url('../../../../assets/ico_search.png') no-repeat;
  background-size: 25.39px 25.39px;
  background-position: 30px center;
}
.th-search-button {
  display: flex;
  flex-direction: row;
}
.th-search-button button {
  width: 150px;
  height: 62px;

  border: 1px solid #000000;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  color: #222222;

  margin-right: 12px;
  box-sizing: border-box;
  background: none;
}
.th-search-button button:last-child {
  border: none;

  margin-right: 0;
  background: #222222;
  color: #ffffff;
}
