.my-qcoa-list {
  height: calc(100% - 347rem - 455rem);
}
.my-qcoa-list .table-slider-header-container {
  padding-left: 54rem;
}
.my-qcoa-list .table-slider-header-container li {
  font-size: 20rem;
  line-height: 29rem;
  text-align: left;
}
.my-qcoa-list .table-slider-header-container li:nth-child(1) {
  width: 25rem;
}
.my-qcoa-list .table-slider-header-container li:nth-child(2) {
  width: 77rem;
  text-align: center;
}
.my-qcoa-list .table-slider-header-container li:nth-child(3) {
  width: calc(97rem + 98rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(4) {
  width: calc(56rem + 125rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(5) {
  width: calc(56rem + 125rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(6) {
  width: calc(37rem + 113rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(7) {
  width: calc(56rem + 113rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(8) {
  width: calc(56rem + 87rem);
}
.my-qcoa-list .table-slider-header-container li:nth-child(9) {
  width: calc(121rem + 82rem);
  padding-left: 0;
}
.my-qcoa-list .table-slider-item ul {
  padding-left: 54rem;
}
.my-qcoa-list .table-slider-item li {
  font-size: 20rem;
  line-height: 29rem;
  /* text-align: left; */
}
.my-qcoa-list .table-slider-item li:nth-child(1) {
  width: 25rem;
}
.my-qcoa-list .table-slider-item li:nth-child(2) {
  width: 72rem;
  text-align: center;
}
.my-qcoa-list .table-slider-item li:nth-child(3) {
  width: 107rem;
  margin-right: 47rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.my-qcoa-list .table-slider-item li:nth-child(4) {
  width: calc(46rem + 56rem + 46rem);
  padding-right: 4rem;
  text-align: center;
}
.my-qcoa-list .table-slider-item li:nth-child(5) {
  width: calc(46rem + 115rem + 46rem);
  text-align: center;
}
.my-qcoa-list .table-slider-item li:nth-child(6) {
  width: calc(39rem + 56rem + 39rem);
  margin-right: 41rem;
  text-align: center;
}
.my-qcoa-list .table-slider-item li:nth-child(7) {
  width: 104rem;
}
.my-qcoa-list .table-slider-item li:nth-child(8) {
  width: 238rem;
  text-align: center;
}
.my-qcoa-list .table-slider-item li:nth-child(9) {
  width: 104rem;
  margin-right: 89rem;
}
.fz-c-blue {
  display: inline-block !important;
  font-weight: 700 !important;
  color: #2f80ed !important
  ;
}
