footer {
  width: 100%;
  min-width: 1920px;
  height: 455px;
  background: #fbfbfb;
}
.footer-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.footer__menu__item,
.footer__detail__item {
  width: 75%;
  height: 100%;
  padding-top: 40px;
  padding-left: 920px;
  box-sizing: border-box;
}

.footer__menu {
  border-bottom: 1px solid #e0e0e0;
  height: 233px;
}
.footer__detail {
  height: 222px;
}
.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__menu__item h3 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  padding-bottom: 22px;
}
.footer__menu__item ul li {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #333333;
  margin-bottom: 16px;
}
.footer__menu__item ul li:last-child {
  margin-bottom: 0;
}

.detail__name {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.detail__name--co {
  margin-right: 147px;
}
.detail__location {
  display: block;
  line-height: 22px;
  margin-bottom: 16px;
}
.footer__detail__item p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
@media (max-width: 380px) {
  footer {
    min-width: 380px;
    height: 322px;
  }
  .footer-container {
    max-width: 360px;
  }
  .footer-line {
    display: block;
    width: 0%;
  }
  .footer__menu {
    height: 127px;
  }
  .footer__detail {
    height: 195px;
  }
  .item-container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__menu__item,
  .footer__detail__item {
    height: calc(100% - 22px);
    padding: 0 12.77%;
    padding-top: 22px;
    min-width: 0;
    border-left: none;
  }
  .footer__menu__item h3 {
    padding-bottom: 12px;
    font-size: 14px;
  }
  .footer__menu__item ul li {
    margin-bottom: 8px;
    font-size: 10px;
  }
  .detail__name {
    margin-bottom: 12px;
    font-size: 10px;
    line-height: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  .detail__name--co {
    margin-right: 72px;
  }
  .detail__location {
    margin-bottom: 7px;
    font-size: 10px;
    line-height: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__detail__item p {
    font-size: 10px;
    line-height: 14px;
    padding-left: 0;
    padding-right: 0;
  }
}
