.nft-detail-item .market-nft__info {
  height: 667rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nft-detail-item .art-detail__profile {
  margin-left: 0;
}
.nft-detail-item .m-nft-detail__list {
  padding-top: 54rem;
}
.nft-detail-item .m-nft-deal {
  margin-bottom: 217rem;
}
.market-nft__buy {
  display: none;
}
@media (max-width: 480px) {
  .nft-detail-item .market-nft__info {
    height: 140rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nft-detail-item .art-detail__profile {
    display: none;
  }
  .nft-detail-item .m-nft-detail__list {
    padding-top: 54rem;
  }
  .nft-detail-item .m-nft-deal {
    margin-bottom: 34rem;
  }
  .nft-detail-item .market-nft__buy {
    display: block;
    padding-top: 16rem;
    border-top: 1rem solid #f2f2f2;
  }
  .nft-detail-item .market-nft__buy > button {
    width: 311rem;
    height: 42rem;
    background: #222222;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12rem;
    line-height: 14rem;
    color: #ffffff;
  }
}
