.nft-item {
  width: 399px;
  height: 96px;

  background: #fbfbfb;

  margin-top: 18px;
  box-sizing: border-box;
  padding: 19px 20px;
  padding-bottom: 18px;
}
.nft-item p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nft-item p:first-child {
  padding-bottom: 13px;
}
.nft-item-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  /* Gray 2 */

  color: #4f4f4f;
}
.nft-item-created,
.nft-item-sell {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;

  color: #333333;
}
.nft-item-sell {
  /* font-weight: 600; */
  color: #2f80ed;
}
.nft-main .art-d .art-d-slider__item {
  text-align-last: left;
}
.nft-main .art-d .art-d-slider {
  height: 3169px;
}
.nft-main .art-d .art-d-slider__list {
  height: 3169px;
}
.nft-main .art-d .art-d-slider__list .slick-first,
.nft-main .art-d .art-d-slider__list .slick-last,
.nft-main .art-d .art-d-slider__list .slick-prev,
.nft-main .art-d .art-d-slider__list .slick-next {
  top: calc(2682px + 346px);
}
.nft-main .art-d .art-d-slider .slick-dots {
  top: calc(2682px - 20px + 346px);
}
