.art-detail-container {
  padding: 0 320px;
  padding-top: 58px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  min-width: 1280px;
}
.art-detail-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.art-detail__image {
  width: 608px;
  height: 667px;
  background: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;

  object-fit: contain;
}

.art-detail__list {
  width: calc(100% - 608px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.art-detail__list li {
  padding-bottom: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 53px;
}

.art-detail__list .art-detail__name {
  display: inline-block;
  color: #4f4f4f;
  width: 167px;
  vertical-align: top;
}
.art-detail__list .art-detail__content {
  display: inline-block;
  width: calc(100% - 167px);
}
.art-detail__profile {
  display: block;
  height: 153px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 53px;
}
.art-detail__profile img {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-left: 36px;
}
.art-detail__profile__info {
  padding-left: 24px;
  width: 362.5px;
  font-family: 'Roboto';
  font-style: normal;

  color: #000000;
}
.art-detail__profile__info h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 4px;
}
.art-detail__profile__info h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #828282;
  padding-bottom: 12px;
}
.art-detail__profile__info button {
  width: 100px;
  height: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #2f80ed;

  border: 1px solid #2f80ed;
  border-radius: 34px;
  background: none;
}
.art-detail__profile__info button:active,
.art-detail__profile__info button:hover {
  color: #ffffff;
  background: #2f80ed;
}
.art-detail__profile__move {
  width: 87px;
  height: 100%;

  background: url('../../assets/page_next.png') no-repeat center;
  background-size: 32.5px;
  border: none;
}

.side-arrow-slider__list {
  display: flex;
  flex-direction: row;
  padding-top: 84px;
  position: relative;
}
.side-arrow-slider__item {
  padding-right: 40px;
}
.side-arrow-slider__item:nth-child(4) {
  padding-right: 0;
}
.side-arrow-image {
  width: 290px;
  height: 318px;
  background: none;
  object-fit: contain;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.side-arrow-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
