.art-detail-container {
  padding: 0 320rem;
  padding-top: 58rem;
  padding-bottom: 80rem;
  display: flex;
  flex-direction: column;
  min-width: 1280rem;
}
.art-detail-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.art-detail__image {
  width: 608rem;
  height: 667rem;
  background: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1rem solid #f2f2f2;

  object-fit: contain;
}

.art-detail__list {
  width: calc(100% - 608rem);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.art-detail__list li {
  padding-bottom: 32rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;
  color: #000000;
  padding-left: 53rem;
}

.art-detail__list .art-detail__name {
  display: inline-block;
  color: #4f4f4f;
  width: 167rem;
  vertical-align: top;
}
.art-detail__list .art-detail__content {
  display: inline-block;
  width: calc(100% - 167rem);
}
.art-detail__profile {
  display: block;
  height: 153rem;
  border: 1rem solid #bdbdbd;
  border-radius: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 53rem;
}
.art-detail__profile img {
  width: 102rem;
  height: 102rem;
  border-radius: 50%;
  margin-left: 36rem;
}
.art-detail__profile__info {
  padding-left: 24rem;
  width: 362.5rem;
  font-family: 'Roboto';
  font-style: normal;

  color: #000000;
}
.art-detail__profile__info h2 {
  font-weight: 400;
  font-size: 24rem;
  line-height: 28rem;
  padding-bottom: 16rem;
}
.ad-profile__info-k {
  font-weight: 700;
}
.art-detail__profile__info h4 {
  font-weight: 400;
  font-size: 20rem;
  line-height: 23rem;
  color: #828282;
}
.art-detail__profile__move {
  width: 101rem;
  height: 35rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;

  color: #2f80ed;

  border: 1rem solid #2f80ed;
  border-radius: 34rem;
  background: none;
  margin-right: 27rem;
}
.art-detail__profile__move:active,
.art-detail__profile__move:hover {
  color: #ffffff;
  background: #2f80ed;
}
.side-arrow-slider__list {
  display: flex;
  flex-direction: row;
  padding-top: 84rem;
  position: relative;
}
.side-arrow-slider__item {
  padding-right: 40rem;
}
.side-arrow-slider__item:nth-child(4) {
  padding-right: 0;
}
.side-arrow-image {
  width: 290rem;
  height: 318rem;
  background: none;
  object-fit: contain;
  border: 1rem solid #f2f2f2;
  box-sizing: border-box;
}
.side-arrow-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

@media (max-width: 480px) {
  .art-detail .container {
    width: 360rem;
  }
  .art-detail-container {
    min-width: 360rem;
    padding: 0 24rem;
    padding-top: 30rem;
    padding-bottom: 24rem;
    width: 360rem;
    box-sizing: border-box;
  }
  .art-detail-section {
    width: 312rem;
    display: flex;
    flex-direction: column;
  }
  .art-detail__image {
    width: 312rem;
    height: 343rem;
  }

  .art-detail__list {
    order: 2;
    width: 100%;
    padding-top: 27rem;
  }
  .art-detail__list li {
    padding-bottom: 16rem;
    font-size: 12rem;
    line-height: 14rem;
    padding-left: 0;
  }

  .art-detail__list .art-detail__name {
    width: 71rem;
  }
  .art-detail__list .art-detail__content {
    display: inline-block;
    width: calc(100% - 71rem);
  }
  .art-detail__profile {
    display: flex;
    flex-direction: row;
    height: 64rem;
    width: 312rem;
    border: 0.504039rem solid #bdbdbd;
    border-radius: 1.00808rem;
    margin-left: 0;
  }
  .art-detail__profile img {
    width: 48rem;
    height: 48rem;
    border-radius: 50%;
    margin-left: 12rem;
  }
  .art-detail__profile__info {
    padding-left: 8rem;
    width: 188em;
    font-family: 'Roboto';
    font-style: normal;

    color: #000000;
  }
  .art-detail__profile__info h2 {
    font-weight: 400;
    font-size: 12rem;
    line-height: 14rem;
    padding-bottom: 6rem;
  }
  .ad-profile__info-k {
    font-weight: 700;
  }
  .art-detail__profile__info h4 {
    font-size: 10rem;
    line-height: 12rem;
  }
  .art-detail__profile__move {
    width: 52rem;
    height: 19rem;
    font-weight: 400;
    font-size: 10rem;
    line-height: 10rem;

    color: #2f80ed;

    border: 0.504039rem solid #2f80ed;
    border-radius: 17.14rem;
    background: none;
    margin-right: 12rem;
  }

  .side-arrow-slider__list {
    padding-top: 12rem;
  }
  .side-arrow-slider__item {
    padding-right: 9rem;
  }
  .side-arrow-slider__item:nth-child(4) {
    padding-right: 0;
  }
  .side-arrow-image {
    width: 71rem;
    height: 78rem;
  }
  .side-arrow-image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
