.qcoa-list {
  min-height: calc(100vh - 455rem);
}
.qcoa-list .table-header {
  height: 148rem;
}
.qcoa-list .table-slider-header-container {
  padding-left: 54rem;
  padding-right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.qcoa-list .th-search-container {
  height: 100%;
  align-items: center;
}
.qcoa-list .table-header-search h2 {
  padding: 0;
}
.qcoa-list .search__block {
  position: relative;
  border-right: 0;
}
.qcoa-list .search__block input {
  border-radius: 0;
  height: 100%;
  padding-bottom: 0;
  width: calc(100% - 70rem);

  color: #222222;
}
.qcoa-list .search__block input::-webkit-input-placeholder {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 27rem;

  color: #828282;
}
.qcoa-list .search__block::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 70rem;
  height: 62rem;
  border: none;
  padding: 0;
  margin: 0;
  background: url(../../../assets/ico_search.png) no-repeat 25.39rem/25.39rem
    #ffffff;
  right: 0;

  border: 1rem solid #e0e0e0;
  border-left: 0;
}

.qcoa-list .table-slider-header-container li {
  font-size: 20rem;
  line-height: 29rem;
  text-align: center;
}

.qcoa-list .table-slider-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.qcoa-list .ts-mb-item {
  display: none;
}
.qcoa-list .table-slider-item li {
  font-size: 20rem;
  line-height: 29rem;
  text-align: center;
}
.qcoa-list .table-slider-item ul {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  padding-left: 54rem;
}
.qcoa-list .table-slider-header-container li:nth-child(1),
.qcoa-list .table-slider-item li:nth-child(1) {
  width: 25rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(2),
.qcoa-list .table-slider-item li:nth-child(2) {
  width: 77rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(3),
.qcoa-list .table-slider-item li:nth-child(3) {
  width: 107rem;
  margin-right: 47rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(4),
.qcoa-list .table-slider-item li:nth-child(4) {
  width: calc(46rem + 56rem + 46rem);
  padding-right: 4rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(5),
.qcoa-list .table-slider-item li:nth-child(5) {
  width: calc(46rem + 115rem + 46rem);
  text-align: center;
}

.qcoa-list .table-slider-header-container li:nth-child(6),
.qcoa-list .table-slider-item li:nth-child(6) {
  width: calc(39rem + 56rem + 39rem);
  margin-right: 41rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(7),
.qcoa-list .table-slider-item li:nth-child(7) {
  width: 104rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(8),
.qcoa-list .table-slider-item li:nth-child(8) {
  width: 238rem;
  text-align: center;
}
.qcoa-list .table-slider-header-container li:nth-child(9),
.qcoa-list .table-slider-item li:nth-child(9) {
  width: calc(121rem + 82rem);
  margin-right: 0;
  text-align: center;
  padding-left: 0;
}

.qcoa-list .table-slider-item img {
  margin-left: 0;
  width: 107rem;
  height: 107rem;
}
.qcoa-list .page-slider__list {
  height: 100%;
}
.qcoa-list .table-slider .slick-dots {
  top: 2308rem;
}
.qcoa-list .table-slider .slick-first,
.qcoa-list .table-slider .slick-last,
.qcoa-list .table-slider .slick-prev,
.qcoa-list .table-slider .slick-next {
  top: 2328rem;
  left: 521rem;
}

.qcoa-list .table-slider .slick-next {
  left: calc(501rem + 310rem);
}
.qcoa-list .table-slider .slick-first {
  left: calc(521rem - 40rem);
}
.qcoa-list .table-slider .slick-last {
  left: calc(501rem + 310rem + 40rem);
}
.qcoa-list .login-option {
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.qcoa-list .login-option__check {
  width: 25rem !important;
  height: 25rem !important;
  margin-right: 0;
}
@media (max-width: 480px) {
  .qcoa-list {
    overflow: hidden;
    width: 100%;
    min-height: calc(100% - 63rem - 322rem);
  }
  .qcoa-list .table-slide {
    min-width: 360rem;
  }
  .qcoa-list .table-header {
    height: 69rem;
    min-width: 360rem;
    border-bottom: none;
  }
  .qcoa-list .table-header-container {
    width: 360rem;
    padding: 0 20rem;
    box-sizing: border-box;
  }
  .qcoa-list .th-search-container {
    height: 100%;
    align-items: center;
  }
  .qcoa-list .table-header-search h2 {
    display: none;
  }
  .qcoa-list .search__block {
    position: relative;
    border-right: 0;
    width: 320rem;
    height: 36rem;
    border: 1rem solid #bdbdbd;
  }
  .qcoa-list .search__block input {
    border-radius: 0;
    height: 100%;
    padding-bottom: 0;
    width: calc(100% - 44rem);
    font-size: 10rem;
    line-height: 14rem;
    color: #222222;
    padding-left: 12rem;
  }
  .qcoa-list .search__block input::-webkit-input-placeholder {
    font-size: 10rem;
    line-height: 14rem;
  }
  .qcoa-list .search__block::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 44rem;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background: url(../../../assets/ico_search.png) no-repeat 15.92rem/15.92rem
      #ffffff;
    right: 0;

    border: none;
    border-left: 0;
  }
  .qcoa-list .table-slider-header {
    display: none;
  }
  .qcoa-list .table-slider .page-slider {
    width: 100%;
  }
  .qcoa-list .table-slider-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 119rem;
  }
  .qcoa-list .ts-mb-item {
    width: 360rem;
    display: flex;
    flex-direction: row;

    height: 119rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16rem 20rem;
  }
  .qcoa-list .ts-mb-item .ts-mb-img {
    margin-right: 8rem;
  }
  .qcoa-list .ts-mb-item .ts-mb-img > img {
    width: 87rem;
    height: 87rem;
  }
  .qcoa-list .ts-mb-item .ts-mb-info {
    font-family: 'Noto Sans KR';
    font-style: normal;
  }
  .qcoa-list .ts-mb-item .ts-mb-info > h2 {
    font-weight: 500;
    font-size: 10rem;
    line-height: 14rem;

    color: #222222;
  }
  .qcoa-list .ts-mb-item .ts-mb-info > h1 {
    font-weight: 700;
    font-size: 12rem;
    line-height: 17rem;

    color: #222222;
    padding-bottom: 8rem;
  }
  .qcoa-list .ts-mb-item .ts-mb-info > span {
    text-align: left;
    font-weight: 500;
    font-size: 10rem;
    line-height: 14rem;

    color: #828282;
    padding-bottom: 1rem;
  }
  .qcoa-list .ts-mb-info > h3 {
    font-weight: 500;
    font-size: 10rem;
    line-height: 14rem;

    color: #2f80ed;
  }
  .qcoa-list .table-slider-item {
    border-bottom: 2rem solid #ebebeb;
  }
  .qcoa-list .table-slider-item li {
    font-size: 20rem;
    line-height: 29rem;
    text-align: center;
  }

  .qcoa-list .table-slider-item ul {
    display: none !important;
  }

  .qcoa-list .page-slider__list {
    height: 100%;
    padding-bottom: 76rem;
  }
  .qcoa-list .table-slider .slick-dots {
    top: calc(886rem - 10rem);
  }
  .qcoa-list .table-slider .slick-first,
  .qcoa-list .table-slider .slick-last,
  .qcoa-list .table-slider .slick-prev,
  .qcoa-list .table-slider .slick-next {
    top: 886rem;
    left: 80rem;
  }

  .qcoa-list .table-slider .slick-next {
    left: calc(80rem + 190rem);
  }
  .qcoa-list .table-slider .slick-first {
    left: calc(80rem - 20rem);
  }
  .qcoa-list .table-slider .slick-last {
    left: calc(80rem + 190rem + 20rem);
  }
  .qcoa-list .login-option {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .qcoa-list .login-option__check {
    width: 25rem !important;
    height: 25rem !important;
    margin-right: 0;
  }
}
