.sign-agency {
  width: 100%;
  min-width: 1920rem;
}
.sign-agency-container {
  width: 1378rem;
  height: calc(100% - 100rem);
  border-left: 1rem solid #bdbdbd;
  border-right: 1rem solid #bdbdbd;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}
.agency-content {
  padding: 0 49rem;
  padding-top: 60rem;
  padding-bottom: 6rem;
  border-bottom: 1rem solid #e0e0e0;
}
.pt-89 {
  padding-top: 89rem;
}
.pb-26 {
  padding-bottom: 26rem;
}
.agency-content .general-item {
  padding-bottom: 26rem;
}
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;

  color: #bdbdbd;
}
input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../../../assets/icon_calendar.png) center no-repeat;
  background-size: 22.5rem 25rem;
  width: 60rem;
  height: 100%;
  border-width: thin;
}
.date-input {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;
}
.agency-content .search__icon {
  background: url('../../../assets/icon_search-bd.png') no-repeat center;
  background-size: 25.39rem 25.39rem;
}
.artist-content .email-input-container {
  width: 596rem;
  margin-right: 88rem;
}
.artist-content .email-input-email {
  width: 295rem;
}
.artist-content .email-input-email ~ .email {
  width: 264rem;
}
.filebox {
  display: flex;
  flex-direction: row;
  width: 596rem;
}
.filebox .upload-name {
  box-sizing: border-box;
  width: 386rem;
  height: 56rem;

  background: #ffffff;
  border: 1rem solid #cccccc;
  outline: none;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;

  color: #222222;
  padding-left: 20rem;
}
.filebox .upload-name:focus {
  border: 1rem solid #222222;
}
.filebox label {
  width: 198rem;
  height: 56rem;

  background: #828282;
  margin-right: 12rem;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.filebox input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
