.section-header {
  width: 100%;
  min-width: 1920px;
  height: 135px;
  background: #fbfbfb;

  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;

  position: relative;
  z-index: 0;
}
.section-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-header h2 {
  display: block;
  width: calc(100% - 320px);
  padding-left: 320px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.section-header h4 {
  display: block;
  width: calc(100% - 320px);
  padding-left: 320px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* Black */

  padding-bottom: 12px;
  color: #222222;
}
.section-header span {
  display: block;
  width: 480px;
  height: 100%;
  float: right;
  box-sizing: border-box;
}

.left-line {
  height: 100%;
  width: 480px;
  border-right: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.right-line {
  height: 100%;
  width: 1440px;
  border-right: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (max-width: 380px) {
  .section-header {
    min-width: 380px;
    height: 59px;
    border-top: 0.5px solid #828282;
    border-bottom: 0.5px solid #828282;
  }
  .section-header-container {
    display: block;
  }
  .section-header h2 {
    width: calc(100% - 48px);
    padding-left: 48px;
    font-size: 20px;
    line-height: 27px;
  }
  .left-line {
    height: 100%;
    width: 100%;
    border-right: none;
  }
  .right-line {
    height: 100%;
    width: 100%;
    border-right: none;
  }
}
