.login-main {
  width: 100%;
  min-width: 1920rem;
  height: 100%;
}
.login-container {
  width: 1378rem;
  min-height: calc(100% - 100rem - 455rem);
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.login-container h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32rem;
  line-height: 38rem;

  padding-top: 130rem;
  padding-bottom: 45rem;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-input {
  width: 574rem;
  height: 68rem;
  background: #ffffff;
  border: 1rem solid #cccccc;

  padding: 0;
  margin-bottom: 16rem;
  font-size: 20rem;
  padding-left: 24rem;
  border-radius: 0;
  box-sizing: content-box;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;
}
.login-password {
  width: 600rem;
  height: 68rem;

  display: flex;
  flex-direction: row;

  margin-bottom: 16rem;
}
.login-password .login-input {
  width: calc(600rem - 60rem);
  height: 100%;
  border-right: none;
  box-sizing: content-box;
}
.password__icon {
  display: block;
  width: 80rem;
  height: 100%;
  background: url('../../assets/password.png') no-repeat center;
  background-size: 25.67rem 22.34rem;

  border: 1rem solid #cccccc;
  border-left: none;
  box-sizing: content-box;
}
.login-form input:focus {
  outline: none;
}
.login-input:focus,
.login-input:valid {
  border: 1rem solid #222222;
}
.login-password .login-input:focus,
.login-password .login-input:valid {
  border-right: none;
}
.login-input:focus + .password__icon,
.login-input:valid + .password__icon {
  border: 1rem solid #222222;
  border-left: none;
}
.login-form input::-webkit-input-placeholder {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 29rem;

  color: #bdbdbd;
}

input[type='checkbox'] {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
}
.login-option {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #828282;
}
.login-option__check {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  background: url('../../assets/login_check.png') no-repeat center;
  background-size: contain;

  margin-right: 11rem;
  cursor: pointer;
}
input[type='checkbox']:checked + .login-option__check {
  background: url('../../assets/login_check_color.png') no-repeat center;
  background-size: contain;
}
.login-button {
  margin-top: 40rem;
  width: 596rem;
  height: 80rem;
  background: #bdbdbd;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24rem;
  line-height: 80rem;

  color: #ffffff;
  border: none;
  cursor: pointer;
}
.login-button:active {
  background: #222222;
}
.login-more {
  padding-top: 56rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-more a {
  cursor: pointer;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 20rem;
  line-height: 29rem;

  color: #828282;
}
.login-more span {
  display: block;
  width: 3rem;
  height: 18rem;

  background: #d9d9d9;

  margin: 0 24rem;
  margin-top: 6rem;
}
.login-link {
  margin-top: 108rem;
  margin-bottom: 138rem;

  display: flex;
  flex-direction: row;
}
.login-link__icon {
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  background: url('../../assets/login_google.png') no-repeat center;
  background-size: 100rem 100rem;
  margin-right: 40rem;
  cursor: pointer;
}
.login-link__icon:nth-child(2) {
  background: url('../../assets/login_kakao.png') no-repeat center #f2c94c;
  background-size: 57.52rem 57.52rem;
}
.login-link__icon:nth-child(3) {
  background: url('../../assets/login_facebook.png') no-repeat center #2f80ed;
  background-size: 24.26rem 45.6rem;
}
.login-link__icon:nth-child(4) {
  background: url('../../assets/login_apple.png') no-repeat center #d9d9d9;
  background-size: 39.81rem 47.26rem;
  margin-right: 0;
}
@media (max-width: 480px) {
  .login-main {
    width: 100%;
    min-width: 360rem;
    height: 100%;
  }
  .login-container {
    width: 360rem;
    height: calc(100% - 100rem);
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-container h1 {
    font-size: 24rem;
    line-height: 28rem;

    padding-top: 28rem;
    padding-bottom: 20rem;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .login-input {
    width: 304rem;
    height: 48rem;
    background: #ffffff;
    border: 1rem solid #cccccc;

    margin-bottom: 16rem;
    font-size: 14rem;
    padding-left: 16rem;
  }

  .login-password {
    width: 322rem;
    height: 48rem;
    margin-bottom: 16rem;
  }
  .login-password .login-input {
    width: calc(320rem - 60rem);
    height: 100%;
    border-right: none;
  }
  .password__icon {
    display: block;
    width: 60rem;
    height: 48rem;
    background: url('../../assets/password.png') no-repeat center;
    background-size: 14.67rem 12.77rem;

    border: 1rem solid #cccccc;
    border-left: none;
  }
  .login-form input:focus {
    outline: none;
  }
  .login-form input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;
  }

  input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
  }
  .login-option {
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;

    color: #828282;
  }
  .login-option__check {
    display: inline-block;
    width: 16rem;
    height: 16rem;
    background: url('../../assets/login_check.png') no-repeat center;
    background-size: contain;

    margin-right: 4rem;
  }
  .login-button {
    margin-top: 36rem;
    width: 320rem;
    height: 54rem;

    font-size: 20rem;
    line-height: 29rem;
  }
  .login-button:active {
    background: #222222;
  }
  .login-more {
    padding-top: 32rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .login-more a {
    font-size: 12rem;
    line-height: 17rem;
  }
  .login-more span {
    display: block;
    width: 1rem;
    height: 13rem;

    background: #d9d9d9;

    margin: 0 6rem;
    margin-top: 2rem;
  }
  .login-link {
    margin-top: 95rem;

    display: flex;
    flex-direction: row;
  }
  .login-link__icon {
    width: 63rem;
    height: 63rem;
    background: url('../../assets/login_google.png') no-repeat center;
    background-size: 63rem 63rem;
    margin-right: 8rem;
  }
  .login-link__icon:nth-child(2) {
    background: url('../../assets/login_kakao.png') no-repeat center #f2c94c;
    background-size: 36.24rem 33.22rem;
  }
  .login-link__icon:nth-child(3) {
    background: url('../../assets/login_facebook.png') no-repeat center #2f80ed;
    background-size: 15.28rem 28.73rem;
  }
  .login-link__icon:nth-child(4) {
    background: url('../../assets/login_apple.png') no-repeat center #d9d9d9;
    background-size: 25.08rem 29.77rem;
    margin-right: 0;
  }
}
