.market-art {
  padding: 70rem 320rem;
  padding-bottom: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.market-art-image {
  display: flex;
  flex-direction: column;
  width: 608rem;
}
.market-image__image {
  width: 608rem;
  height: 900rem;

  box-sizing: border-box;
  border: 1rem solid #e0e0e0;
  object-fit: contain;
}
.market-image__list {
  padding-top: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:auto;
}
.market-image__item {
  width: 185rem;
  height: 207rem;
  object-fit: contain;
  box-sizing: border-box;

  border: 1rem solid #e0e0e0;
}
.market-image__item:last-child {
  display: none;
}
.market-art-info {
  width: 651rem;
  height: 800rem;

  background: #fbfbfb;
  box-sizing: border-box;
  padding: 40rem 26rem 32rem 32rem;
}
.market-info__gallery {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28rem;
  line-height: 33rem;

  display: flex;
  align-items: center;

  color: #2f80ed;

  padding-bottom: 40rem;
}
.info__arrow {
  margin-left: 11.37rem;
  width: 12.26rem;
  height: 20.83rem;
  background: url('../../../assets/arrow-right-blue.png') center no-repeat;
  background-size: contain;
}
.market-info__list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;
  padding-bottom: 45rem;
}
.market-info__list li {
  display: flex;
  flex-direction: row;
  padding-bottom: 28rem;
}
.market-info__list li:last-child {
  padding-bottom: 0;
}

.market-info__list li span:first-child {
  display: block;
  width: 167rem;
}
/* 기타 설명 */
.market-info__list li:last-child span:last-child {
  display: block;
  width: 426rem;
}
.market-art-sell {
  border-top: 1rem solid #e0e0e0;
  font-family: 'Roboto';
  font-style: normal;
}
.market-sell__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26rem;

  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;

  color: #222222;
}
.market-sell__price span:last-child {
  font-weight: 500;
  font-size: 28rem;
  line-height: 33rem;
  color: #000000;
}
.market-sell__usd {
  display: block;
  padding-top: 8rem;
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 20rem;
  line-height: 23rem;
  color: #000000;
}
.market-sell__time {
  display: block;
  padding-top: 53rem;
  font-weight: 500;
  font-size: 20rem;
  line-height: 23rem;

  text-align: right;

  /* Red */

  color: #eb5757;
}
.market-sell__button {
  padding-top: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.market-sell__button button,
.market-sell__button a {
  width: 284rem;
  height: 84rem;
  box-sizing: border-box;
  border: 1rem solid #000000;
  background: none;
  font-weight: 700;
  font-size: 20rem;
  line-height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Black */

  color: #222222;
  cursor: pointer;
}
.market-sell__button a {
  box-sizing: border-box;
  background: #333333;
  border: none;
  color: #ffffff;
}
.market-detail {
  min-width: 1920rem;
}
.market-detail > .work-header {
  background: #fbfbfb;
}
.market-detail .art-detail-section {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 320rem;
  padding-bottom: 150rem;
}
.market-detail .art-detail__image {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  width: 240rem;
  height: 240rem;
  border-radius: 50%;
  object-fit: cover;
}

.market-detail .art-detail__list {
  width: calc(100% - 240rem);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.market-detail .art-detail__list .art-detail__item {
  width: 100%;
  padding-bottom: 20rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24rem;
  line-height: 28rem;
  color: #222222;
  padding-left: 46rem;
}
.market-detail .art-detail__list .art-detail__item:first-child {
  font-weight: 700;
  font-size: 28rem;
  line-height: 38rem;

  color: #333333;
}
.market-detail .art-detail__list .art-detail__name {
  display: inline-block;
  color: #4f4f4f;
  width: 127rem;
  vertical-align: top;
}
.market-detail .art-detail__list .art-detail__content {
  display: inline-block;
  width: calc(100% - 167rem);
  color: #222222;
}
.market-detail .section-header h3 {
  height: 133rem;
}
.market-detail .top-arrow,
.market-detail .top-arrow-container {
  height: calc(133rem + 815rem);
}
.market-detail .top-arrow-container {
  top: -133rem;
}
.market-detail .top-arrow-slider {
  height: calc(133rem + 815rem);
  padding-top: calc(100rem + 133rem);
}
.market-detail .top-arrow-slider .slick-prev,
.market-detail .top-arrow-slider .slick-next {
  top: 67rem;
}
@media (max-width: 480px) {
  .market-art {
    padding: 19rem 20rem;
    padding-bottom: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .market-art-image {
    display: flex;
    flex-direction: column;
    width: 312rem;
  }
  .market-image__image {
    width: 312rem;
    height: 343rem;

    box-sizing: border-box;
    border: 1rem solid #e0e0e0;
    object-fit: contain;
  }
  .market-image__list {
    padding-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .market-image__item {
    width: 71rem;
    height: 78rem;
    object-fit: contain;
    box-sizing: border-box;

    border: 1rem solid #e0e0e0;
  }
  .market-image__item:last-child {
    display: block;
  }
  .market-art-info {
    width: 312rem;
    height: 371rem;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
  }
  .market-info__gallery {
    display: none;
  }
  .market-info__list {
    height: 224rem;
    order: 1;
    font-size: 10rem;
    line-height: 12rem;
    background: #fbfbfb;
    padding: 16rem 16rem 12rem 16rem;
    margin-top: 16rem;
    box-sizing: border-box;
  }
  .market-info__list li {
    padding-bottom: 12rem;
  }
  .market-info__list li:last-child {
    padding-bottom: 0;
  }

  .market-info__list li span:first-child {
    display: block;
    width: 68rem;
  }
  /* 기타 설명 */
  .market-info__list li:last-child span:last-child {
    display: block;
    width: 212rem;
  }
  .market-art-sell {
    border-top: none;
  }
  .market-sell__price {
    padding-top: 12rem;

    font-weight: 500;
    font-size: 16rem;
    line-height: 19rem;

    color: #222222;
  }
  .market-sell__price span:last-child {
    font-weight: 500;
    font-size: 16rem;
    line-height: 19rem;
    color: #000000;
  }
  .market-sell__usd {
    padding-top: 8rem;
    padding-bottom: 8rem;

    font-size: 12rem;
    line-height: 14rem;
  }
  .market-sell__time {
    display: block;
    padding-top: 53rem;
    font-weight: 500;
    font-size: 20rem;
    line-height: 23rem;

    text-align: right;

    /* Red */

    color: #eb5757;
  }
  .market-sell__button {
    border-top: 1rem solid #f2f2f2;
    padding-top: 16rem;
  }
  .market-sell__button button,
  .market-sell__button a {
    width: 153rem;
    height: 42rem;
    box-sizing: border-box;
    border: 1rem solid #000000;

    font-size: 12rem;
    line-height: 14rem;
  }
  .market-detail {
    min-width: 360rem;
  }
  .market-detail .container {
    width: 360rem;
  }
  .market-detail > .work-header {
    background: #fbfbfb;
    height: 51rem;
    border-bottom: 1rem solid #e0e0e0;
  }
  .market-detail .art-detail-section {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 0;
    padding: 0;
    height: 152rem;
  }
  .market-detail .art-detail__image {
    width: 64rem;
    height: 64rem;
  }

  .market-detail .art-detail__list {
    width: calc(100% - 64rem);
  }
  .market-detail .art-detail__list .art-detail__item {
    width: 100%;
    padding-left: 12rem;
    padding-bottom: 9rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10rem;
    line-height: 12rem;
    color: #222222;
  }
  .market-detail .art-detail__list .art-detail__item:first-child {
    font-weight: 700;
    font-size: 14rem;
    line-height: 19rem;
    padding-bottom: 8rem;
    color: #333333;
  }
  .market-detail .art-detail__list .art-detail__name {
    width: 49rem;
  }
  .market-detail .art-detail__list .art-detail__content {
    width: calc(100% - 49rem);
  }
  .market-detail .art-detail__list .art-detail__item:nth-child(3) {
    padding-bottom: 0;
  }
  .market-detail .art-detail__list .art-detail__item:last-child {
    position: absolute;
    width: 312rem;
    top: 82rem;
    left: 24rem;
    padding: 0;
  }
  .market-detail
    .art-detail__list
    .art-detail__item:last-child
    .art-detail__name {
    display: none;
  }
  .market-detail
    .art-detail__list
    .art-detail__item:last-child
    .art-detail__content {
    width: 100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }

  .market-detail .display-history__list .display-history__more {
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  .market-detail .section-header h3 {
    height: 43rem;
  }
  .market-detail .top-arrow,
  .market-detail .top-arrow-container {
    height: calc(133rem + 815rem);
  }

  .market-detail .top-arrow-container {
    top: -133rem;
  }
  .market-detail .top-arrow-slider {
    height: calc(133rem + 815rem);
    padding-top: calc(100rem + 133rem);
  }
  .market-detail .top-arrow-slider .slick-prev,
  .market-detail .top-arrow-slider .slick-next {
    top: 67rem;
  }
}
