.gallery-dir__item {
  width: 100%;
  min-width: 1920rem;
  height: 480rem;
  border-bottom: 1rem solid #e0e0e0;
}
.gallery-dir__item:last-child {
  border-bottom: none;
}
.gallery-dir__item-container {
  width: 1920rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.gallery-dir__item-image {
  width: 50%;
  height: 100%;
}
.gallery-dir__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-dir__item__info {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.gallery-dir__info__deatil {
  display: block;
  width: 50%;
  height: 100%;
  border-left: 1rem solid #e0e0e0;
  border-right: 1rem solid #e0e0e0;
  box-sizing: border-box;
}
.gallery-dir-left {
  border-right: none;
  border-left: 1rem solid #e0e0e0;
  /* text-align: right; */
  margin-left: 50%;
}

.gallery-dir__info__deatil > .gallery-dir__info-name {
  display: block;
  padding-top: 40rem;
  padding-left: 5%;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16rem;
  line-height: 22rem;
  color: #333333;
  width: 95%;
}
.gallery-dir__info__deatil > h3 {
  display: block;
  padding-top: 243rem;
  padding-left: 5%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 40rem;
  line-height: 47rem;
  color: #000000;
}
.gallery-dir__info__deatil > h5 {
  display: block;
  padding-top: 15rem;
  padding-left: 5%;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24rem;
  line-height: 33rem;
  color: #333333;
}
/* .gallery-dir-left > .gallery-dir__info-name,
.gallery-dir-left > h3,
.gallery-dir-left > h5 {
  padding-left: 0;
  padding-right: 5%;
} */
.gallery-dir-link {
  display: inline-block;
  margin-left: 28rem;
  margin-top: 22rem;
  width: 40rem;
  height: 6rem;
  background: url('../../assets/move_right.png') no-repeat center;
  background-size: contain;
  padding-left: 0;
}
.gallery-dir-left > .gallery-dir-link {
  background: url('../../assets/move_left.png') no-repeat center;
  background-size: contain;
}
@media (max-width: 480px) {
  .gallery-dir__item {
    min-width: 360rem;
    height: 180rem;
  }
  .gallery-dir__item-container {
    width: 360rem;
    justify-content: center;
  }
  .gallery-dir__info__deatil {
    width: 100%;
    border-right: none;
  }
  .gallery-dir-left {
    margin-left: 0;
    border-left: none;
  }
  .gallery-dir__info__deatil > .gallery-dir__info-name {
    padding-top: 20rem;
    padding-left: 11.11%;
    font-size: 8rem;
    line-height: 11rem;
  }
  .gallery-dir__info__deatil > h3 {
    padding-top: 78rem;
    padding-left: 11.11%;

    font-size: 20rem;
    line-height: 23rem;
  }
  .gallery-dir__info__deatil > h5 {
    padding-top: 2rem;
    padding-left: 11.11%;

    font-size: 10rem;
    line-height: 14rem;
  }
  .gallery-dir-link {
    display: inline-block;
    margin-left: 20rem;
    margin-top: 12rem;
    width: 20rem;
    height: 6rem;
  }
}
