@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.none {
  display: none;
}

/* 기본 설정 */
#root {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
}
.container {
  max-width: 1920rem;
  margin: 0 auto;
  position: relative;
  /* height: 100%; */
  z-index: 0;
}
.bottom-border {
  border-bottom: 1rem solid #bdbdbd;
}
.top-border {
  border-top: 1rem solid #bdbdbd;
}
@media (max-width: 480px) {
  .container {
    max-width: 480rem;
  }
}
