.banner {
  width: 100%;
  height: 707px;
}
.banner-slider,
.banner .slick-list {
  width: 100%;
  height: 100%;
}
.banner .slider__item {
  width: 1920px !important;
  height: 707px;
  position: relative;
}
.banner .item-image {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}
.banner .item-info {
  position: absolute;
  top: 205px;
  left: 450px;
}
.banner h1,
.banner h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.07em;

  color: #ffffff;

  text-transform: uppercase;
  text-align-last: left;
}
.banner h2 {
  font-size: 46.7339px;
  line-height: 55px;
}
.banner p {
  width: 287px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;

  padding-top: 26px;
  padding-bottom: 56px;
}
.item-button {
  display: block;
  width: 152px;
  height: 48px;

  border: 2px solid #ffffff;
  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  color: #ffffff;
}
/* 화살표 */
.banner .slick-prev,
.banner .slick-next {
  position: absolute;
  z-index: 2;

  top: 354px;

  display: block;

  width: 25px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  /* background: #000; */
}

.banner .slick-prev:before,
.banner .slick-next:before {
  content: '';
  background: url('../../assets/arrow_left.png') no-repeat;
  background-size: 25px 50px;
  width: 25px;
  height: 50px;
  display: inline-block;
}
.banner .slick-next:before {
  background: url('../../assets/arrow_right.png') no-repeat;
  background-size: 25px 50px;
}

.banner .slick-prev {
  left: 336px;
}
.banner .slick-next {
  right: 336px;
}
.banner .dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}
.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #ffffff;
  color: transparent;
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #222222;
}
